<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actor0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,208}}</string>
                <key>sourceSize</key>
                <string>{100,210}</string>
            </dict>
            <key>actor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{100,206}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,206}}</string>
                <key>sourceSize</key>
                <string>{100,210}</string>
            </dict>
            <key>actor10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,104},{163,184}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{163,184}}</string>
                <key>sourceSize</key>
                <string>{173,210}</string>
            </dict>
            <key>actor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,371},{173,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{173,174}}</string>
                <key>sourceSize</key>
                <string>{173,210}</string>
            </dict>
            <key>actor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,442},{100,174}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{100,174}}</string>
                <key>sourceSize</key>
                <string>{100,210}</string>
            </dict>
            <key>actor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,269},{100,182}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,182}}</string>
                <key>sourceSize</key>
                <string>{100,210}</string>
            </dict>
            <key>actor4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{174,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{174,186}}</string>
                <key>sourceSize</key>
                <string>{174,210}</string>
            </dict>
            <key>actor5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{174,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{174,168}}</string>
                <key>sourceSize</key>
                <string>{174,210}</string>
            </dict>
            <key>actor6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,546},{172,172}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{172,172}}</string>
                <key>sourceSize</key>
                <string>{174,210}</string>
            </dict>
            <key>actor7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{145,176}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{145,176}}</string>
                <key>sourceSize</key>
                <string>{173,210}</string>
            </dict>
            <key>actor8.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,104},{133,168}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{133,168}}</string>
                <key>sourceSize</key>
                <string>{173,210}</string>
            </dict>
            <key>actor9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,274},{133,166}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{133,166}}</string>
                <key>sourceSize</key>
                <string>{173,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actor.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4b3c6c0f001503201ce0c062fd3a8d:1/1$</string>
            <key>textureFileName</key>
            <string>actor.png</string>
        </dict>
    </dict>
</plist>
