<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CJT.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{446,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,178}}</string>
                <key>sourceSize</key>
                <string>{446,178}</string>
            </dict>
            <key>bg_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,450},{183,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,171}}</string>
                <key>sourceSize</key>
                <string>{183,171}</string>
            </dict>
            <key>bg_timeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{640,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,60}}</string>
                <key>sourceSize</key>
                <string>{640,60}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,642},{61,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,258},{250,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,81}}</string>
                <key>sourceSize</key>
                <string>{250,81}</string>
            </dict>
            <key>btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,635},{239,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,78}}</string>
                <key>sourceSize</key>
                <string>{239,78}</string>
            </dict>
            <key>btn_scoreList.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,644},{239,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,78}}</string>
                <key>sourceSize</key>
                <string>{239,78}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{254,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,87}}</string>
                <key>sourceSize</key>
                <string>{254,87}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,458},{239,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,78}}</string>
                <key>sourceSize</key>
                <string>{239,78}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,510},{130,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,121}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>double2.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,806},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>double3.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,745},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>double4.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,684},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>double5.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,867},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,644},{257,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,53}}</string>
                <key>sourceSize</key>
                <string>{259,53}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,142}}</string>
                <key>sourceSize</key>
                <string>{640,142}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{148,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,269}}</string>
                <key>sourceSize</key>
                <string>{148,269}</string>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,699},{203,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,162}}</string>
                <key>sourceSize</key>
                <string>{203,162}</string>
            </dict>
            <key>mi.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,642},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{454,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,92}}</string>
                <key>sourceSize</key>
                <string>{454,92}</string>
            </dict>
            <key>sprite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,885},{64,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,106}}</string>
                <key>sourceSize</key>
                <string>{64,106}</string>
            </dict>
            <key>sprite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,885},{64,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,106}}</string>
                <key>sourceSize</key>
                <string>{64,106}</string>
            </dict>
            <key>sprite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,904},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>sprite4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,904},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,642},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,885},{18,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,458},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>timeIsUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{239,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,54}}</string>
                <key>sourceSize</key>
                <string>{241,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allPicPlist.png</string>
            <key>size</key>
            <string>{584,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44eed0dc08247de92fb595d23e382cc5$</string>
            <key>textureFileName</key>
            <string>allPicPlist.png</string>
        </dict>
    </dict>
</plist>
