<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_choseKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{473,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,338}}</string>
                <key>sourceSize</key>
                <string>{473,338}</string>
            </dict>
            <key>btn_scene1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,549},{449,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,314}}</string>
                <key>sourceSize</key>
                <string>{449,314}</string>
            </dict>
            <key>btn_scene2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{449,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,319}}</string>
                <key>sourceSize</key>
                <string>{449,319}</string>
            </dict>
            <key>note_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,545}}</string>
                <key>sourceSize</key>
                <string>{608,545}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allPicPlist2.png</string>
            <key>size</key>
            <string>{952,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57b0e4e14a7748ddc329fe370c936b8a$</string>
            <key>textureFileName</key>
            <string>allPicPlist2.png</string>
        </dict>
    </dict>
</plist>
