<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,601},{117,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,110}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>btn_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,219},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>btn_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,403},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>btn_goOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,403},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>btn_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,60}}</string>
                <key>sourceSize</key>
                <string>{293,60}</string>
            </dict>
            <key>btn_order.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>btn_packet.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,219},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>btn_present.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,402},{181,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,60}}</string>
                <key>sourceSize</key>
                <string>{181,60}</string>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,219},{181,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,60}}</string>
                <key>sourceSize</key>
                <string>{181,60}</string>
            </dict>
            <key>btn_startGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{215,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,132}}</string>
                <key>sourceSize</key>
                <string>{215,132}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{163,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,46}}</string>
                <key>sourceSize</key>
                <string>{163,46}</string>
            </dict>
            <key>slideTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,587},{178,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,12}}</string>
                <key>sourceSize</key>
                <string>{178,12}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,403},{151,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,55}}</string>
                <key>sourceSize</key>
                <string>{151,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allPicPlist.png</string>
            <key>size</key>
            <string>{250,749}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ec157a704859b1c88eb353ae7c2a3e1$</string>
            <key>textureFileName</key>
            <string>allPicPlist.png</string>
        </dict>
    </dict>
</plist>
