@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0}
.shequ3 .moban{ position:relative; width:100%; top:0px;z-index:99999; }
.shequ3 .moban .moban1{ position:absolute; margin:auto;  width:100%; } 
.shequ3 .moban .moban1 .max_64{max-width:640px; position:relative;}
.shequ3 .moban .moban1 img{ width:100%; height:auto;z-index:99999; }
.shequ3 .moban .moban1 .moban1_a_1{z-index:99999999; width:100%; background:#FFF; text-align:center; color:#f15951; font-size:25pt; padding:1.5% 0; position:relative; font-weight:bold;  }
.shequ3 .moban .moban1 .left{ width:15%; position:absolute; left:2%; bottom:10%;}
.shequ3 .moban .moban1 .left img{ width:90%; height:auto;}
.shequ3 .moban .moban1 .right{ width:12% ;position:absolute;right:2%; font-weight:normal; font-size:18pt; bottom:10%;  }
.shequ3 .moban .moban1 .right img{ width:80%; height:auto;}
.shequ3 .moban .moban1 .moban1_a_1 ul li:nth-child(2){ position:absolute; width:11.875%; right:2%; top:7%;}

.shequ3 .moban .moban1 .moban1_a{ position:relative; margin-right:15%;top:0px;width:85%;} 
.shequ3 .moban .moban1 .moban1_a .guanbianniu{width:8%; position:absolute; left:100%; top:0%; padding-top:30%; }
.shequ3 .moban1_a_2{overflow:scroll; height:1000px;overflow-x:hidden; background:#f2f2f2;}
.shequ3 .moban1_a_2 .null{ padding:35% 0; height:450px;}
.shequ3 .moban .moban1_a_2{ overflow-y:hidden;} 
.shequ3 .moban .content{ height:1000px;}	
.shequ3 .moban .content .contenta{ width:90%; margin:auto; background:#FFF; margin-top:1%; padding:2% 2%; border-radius:10px; border:1px solid #bcbbbb }
.shequ3 .moban .content .beijing2{ height:1000px; }
.shequ3 .moban .content .contenta textarea{ resize: none; outline:none; width:100%; min-height:200px; border:none; color:#4d4a4a; font-size:16pt;}
.shequ3 .moban .content .contenta .contenta_1{ width:15%; float:left; }
.shequ3 .moban .content .contenta .contenta_1 img{ border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px;}
.shequ3 .moban .content .contenta .contenta_2{  float:left; margin-left:5%; width:80%;  }
.shequ3 .moban .content .contenta .contenta_2 .mingc{ font-size:18pt; color:#a4530b; }
.shequ3 .moban .content .contenta .contenta_2 p span{ display:inline-block;}
.shequ3 .moban .content .contenta .contenta_2 p:nth-child(2){ font-size:15pt; color:#5c5c5c; -ms-word-break: break-all;
word-break: break-all; 
 word-break: break-word; 
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
white-space: nowrap;
text-overflow: ellipsis;}
.shequ3 .moban .content .contenta .contenta_2 p .laizi{ padding-left:5%;}
.shequ3 .moban .content .contenta .contenta_2 p .youxi{ color:#f92900;}
.shequ3 .moban .content .contenta .contenta_3 { font-size:15pt; color:#5c5c5c;word-break:break-all; word-wrap:break-word;}
.shequ3 .moban .content .contenta .contenta_4 { border-bottom:1px solid #f2f2f2; padding-top:2%;}
.shequ3 .moban .content .contenta .contenta_4_1{ width:50%; float:right;}
.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1{ float:left; margin-left:20%; width:33.3333333%;  text-align:center;}
.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_2{ float:right;margin-left:0%;}
.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1 .img{ display:inline-block; width:25%;}
.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1 .shuzi{ display:inline-block; font-size:15pt; color:#f05127;}
.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1 .img3{ display:inline-block; float:right; width:90%;}
.shequ3 .moban .content .contenta .contenta_5 { padding-top:4%;}
.shequ3 .moban .content .contenta .contenta_5 .contenta_5_1{ width:13%; float:left;}
.shequ3 .moban .content .contenta .contenta_5 .contenta_5_1 img { border-radius:100px;}
.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2  { width:75%; float:left;margin-left:5%; }
.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 p{font-size:15pt;color:#5c5c5c;word-break:break-all; word-wrap:break-word;}
.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2  .mingc{ color:#09b492;  padding-top:1%; padding-bottom:2%;}
.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 .shijian{ float:right; font-size:12pt; color:#5c5c5c; vertical-align:bottom;}
.shequ3 .moban .content .contenta .contenta_6{ width:6%; margin:auto; padding-top:8%;}






.shequ3 .moban .moban1_a_3{position:fixed; bottom:0px;  max-width:544px; width:85%; z-index:999}

.shequ3 .moban .content3 { padding:3% 0;background:#f15951;}
.shequ3 .moban .content3 ul { background:#f15951;}
.shequ3 .moban .content3 ul li{ width:13.6%; float:left; margin-left:5.5%;}



/* content*/
.shequ3 .content{ position:relative;  width:100%; margin:auto;}




@media screen and (min-width:641px) {
	body{background:#3a3e4a;}
	}


@media screen and (max-width:600px) {
	.shequ3 .moban .moban1 .right{  font-size:16pt;  }
    .shequ3 .moban .content .contenta .contenta_2 .mingc{ font-size:16pt; }
	.shequ3 .moban .content .contenta .contenta_2 p:nth-child(2){ font-size:14pt;}
	.shequ3 .moban .content .contenta .contenta_3 { font-size:14pt;}
    .shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1 .shuzi{ font-size:14pt; }
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 p{font-size:14pt;}
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 .shijian{ font-size:11pt; }
	
	.shequ3 .moban .content .contenta textarea{  font-size:15pt;}
	
	}
	
@media screen and (max-width:550px) {
	
	.shequ3 .moban .moban1 .right{  font-size:14pt;  }
	.shequ3 .moban .content .contenta .contenta_2 .mingc{ font-size:15pt; }
	.shequ3 .moban .content .contenta .contenta_2 p:nth-child(2){ font-size:13pt;}
	.shequ3 .moban .content .contenta .contenta_3 { font-size:13pt;}
	.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1 .shuzi{ font-size:13pt; }
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 p{font-size:13pt;}
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 .shijian{ font-size:10pt; }
	.shequ3 .moban .content .contenta textarea{  font-size:14pt;}
   
	}
	
@media screen and (max-width:500px) {
	
    .shequ3 .moban .moban1 .right{  font-size:13pt;  }
	.shequ3 .moban .content .contenta .contenta_2 .mingc{ font-size:14pt; }
	.shequ3 .moban .content .contenta .contenta_2 p:nth-child(2){ font-size:12pt;}
	.shequ3 .moban .content .contenta .contenta_3 { font-size:12pt;}
	.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1 .shuzi{ font-size:12pt; }
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 p{font-size:12pt;}
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 .shijian{ font-size:9pt; }
	.shequ3 .moban .content .contenta textarea{  font-size:13pt;}
   
	}
@media screen and (max-width:450px) {
    .shequ3 .moban .moban1 .right{  font-size:11pt;  }
	.shequ3 .moban .content .contenta .contenta_2 .mingc{ font-size:12pt; }
	.shequ3 .moban .content .contenta .contenta_2 p:nth-child(2){ font-size:10pt;}
	.shequ3 .moban .content .contenta .contenta_3 { font-size:10pt;}
	.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1 .shuzi{ font-size:10pt; }
	
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 p{font-size:11pt;}
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 .shijian{ font-size:8pt; }
	.shequ3 .moban .content .contenta textarea{  font-size:12pt;}
   
	}

@media screen and (max-width:400px) {
	

   .shequ3 .moban .moban1 .right{  font-size:10pt;  }
   .shequ3 .moban .content .contenta .contenta_2 .mingc{ font-size:10pt; }
	.shequ3 .moban .content .contenta .contenta_2 p:nth-child(2){ font-size:9pt;}
	.shequ3 .moban .content .contenta .contenta_3 { font-size:9pt;}
	.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1 .shuzi{ font-size:9pt; }
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 p{font-size:10pt;}
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 .shijian{ font-size:7pt; }
	.shequ3 .moban .content .contenta textarea{  font-size:11pt;}
    
	}


@media screen and (max-width:320px) {
	
	.shequ3 .moban .moban1 .right{  font-size:9pt;  }
	.shequ3 .moban .content .contenta .contenta_2 .mingc{ font-size:9pt; }
	.shequ3 .moban .content .contenta .contenta_2 p:nth-child(2){ font-size:8pt;}
	.shequ3 .moban .content .contenta .contenta_3 { font-size:8pt;}
	.shequ3 .moban .content .contenta .contenta_4_1 .contenta_4_1_1 .shuzi{ font-size:8pt; }
	.shequ3 .moban .content .contenta .contenta_5 .contenta_5_2 p{font-size:9pt;}

	}





@media screen and (min-width:641px) {
body{background:#3a3e4a;}
	}
@media screen and (max-width:600px) {
    .shequ3 .moban .moban1 .moban1_a_1{ font-size:23pt;}
	.shequ3 .moban .content3{font-size:22pt; }
	}
	

	
@media screen and (max-width:550px) {
	.shequ3 .moban .moban1 .moban1_a_1{ font-size:20pt;}
   .shequ3 .moban .content3{font-size:20pt; }
	}
	
@media screen and (max-width:480px) {
	.shequ3 .moban .moban1 .moban1_a_1{ font-size:18pt;}
	.shequ3 .moban .content1_b li{ width:20%;  float:left; }

   
	 }
	 
@media screen and (max-width:450px) {
	.shequ3 .moban .content3{font-size:18pt; }
	 }
	 
	 
@media screen and (max-width:430px) {
	.shequ3 .moban .moban1 .moban1_a_1{ font-size:16pt;}
	
   .shequ3 .moban .content1_c p span{ font-size:20pt;}
	 }
		
 @media screen and (max-width:380px) {
	.shequ3 .moban .moban1 .moban1_a_1{ font-size:14pt;}
    .shequ3 .moban .content3{font-size:16pt; }
	 }
	 
 @media screen and (max-width:350px) {
	.shequ3 .moban .anniu ul li{  font-size:12pt;}

	 }
	 
 @media screen and (max-width:330px) {
	.shequ3 .moban .moban1 .moban1_a_1{ font-size:12pt; }
	 }
