* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
    width: 100%
}

body {
    background-color: #555;
    color: #333;
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif, 'Microsoft Sans Serif', 'Microsoft JhengHei UI';
    margin: 0;
    padding: 0
}

/*body > div:last-child {
    display: none
}*/
.startsplash{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1000006;
}
.index-car{
    position:absolute;
    width:120px;
    height:243px;
    left:50%;
    margin-left:-3.6rem;
    bottom:90px;
    background-image:url(../images/index-car.png);
}
.bg-img {
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tip {
    position: absolute;
    width: 150px;
    height: 75px;
    left: 50%;
    margin-left: -4.5rem;
    bottom: 1rem;
    background-image: url(../images/tip1.png);
    animation-name: ani1;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    -webkit-animation-name: ani1;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
}
@keyframes ani1{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}
@-webkit-keyframes ani1{
    0%{
        -webkit-transform: translateY(0);
    }
    50%{
        -webkit-transform: translateY(5px);
    }
    100%{
        -webkit-transform: translateY(0);
    }
}
#main {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

#main_2 {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #fff url(../images/index-bg.jpg);
    background-size: 100% 100%;
}

#main_3 {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

#firstPage {
    background: rgba(0, 0, 0, 1);
    background-size: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100000
}

#yxgz {
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000000000
}

#start {
    height: 93%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000000
}

#hdgz {
    height: 7%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 93%;
    width: 100%;
    z-index: 1000000;
}

#soccer{
    height: 1.1904762%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 83.3%;
    width: 10.5625%;
    z-index: 1000002;
}

#soccer_2{
    height: 1.1904762%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 83.3%;
    width: 10.5625%;
    z-index: 1000000;
}

#soccer img,#soccer_2 img{
    width: 100%;
    height: 100%;
}

#close {
    height: 6.3492%;
    right: 0;
    position: absolute;
    top: 0%;
    width: 10%;
    z-index: 10000000000;
}

#guidePanel {
    background: rgba(0, 0, 0, 0.6) url(../images/zhishi.png) center 75% no-repeat;
    background-size: 306px 516px;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000
}

#gamePanel {
    height: 568px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 320px
}

#gamePanel canvas {
    display: block;
    margin: 0 auto;
    z-index: 1000
}

#gamePanel canvas.playing {
    cursor: none
}

.score-wrap {
    background: url(../images/shuliang.png) no-repeat;
    background-size: 100%;
    color: #FFF;
    display: none;
    font-family: "Helvetica", "Microsoft YaHei", sans-serif;
    font-style: italic;
    font-size: 17px;
    font-weight: 700;
    height: 32px;
    letter-spacing: 2px;
    padding: 7px 10px;
    position: absolute;
    right: 20px;
    text-align: right;
    text-shadow: 1.5px 0 0 #613209, -1.5px 0 0 #613209, 0 1px 0 #613209, 0 -1.5px 0 #613209, 1px 1px 0 #613209, -1px 1px 0 #613209, 1px -1px 0 #613209, -1px -1px 0 #613209;
    top: 10px;
    width: 105px;
    z-index: 1005
}

.score-wrap div {
    background: url(../images/xin.png) no-repeat;
    background-size: 100% 100%;
    height: 30px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 30px;
    z-index: 1009
}

div.hearthot {
    -webkit-animation: fire .5s linear;
    -o-animation: fire .5s linear;
    animation: fire .5s linear
}

@-webkit-keyframes fire {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(3.0);
        -moz-transform: scale(3.0);
        -ms-transform: scale(3.0);
        -o-transform: scale(3.0);
        transform: scale(3.0)
    }
}

@keyframes fire {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0)
    }
}

#gameoverPanel {
    background: rgba(0, 0, 0, 0.8) url(../images/zhuangwn.png) center no-repeat;
    background-size: 230px 260px;
    top: 0
}

#gameoverPanel, #resultPanel {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10000
}

#resultPanel, #resultPanel .weixin-share {
    left: 0;
    top: 0
}

#scoreBoard {
    background: #ffa700 url(../images/tip.png) center top no-repeat;
    background-size: 100% auto;
    color: #6a2f00;
    text-align: center
}

#prize {
    background: #ffa700 url(../images/gongxi.png) center 10% no-repeat;
    background-size: 261px 119px
}

#resultPanel .weixin-share {
    background: rgba(0, 0, 0, 0.92) url(../images/img_01.png) right top no-repeat;
    background-size: 100%;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100
}

#resultPanel .replay {
    background: url(../images/zaiwan.png) 0 0 no-repeat;
    background-size: 100%;
    height: 27px;
    left: 20px;
    line-height: 20em;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 79px;
    z-index: 10
}

#resultPanel .panel, #scoreBoard .score-result {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}
.scorewrapper-wrapper{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}
#scoreBoard .tips {
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    color: #fff;
    text-shadow: 1px 1px #000;
    background-color: rgba(255,0,0,.65);
    border-radius: 5px;
    padding: 2px 5px;
}

#scoreBoard .rank {
    font-size: 16px;
    padding: 25px;
    width: 100%;
}
#scoreBoard .rank .inner {
    background: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 25px;
    color: #000;
}
#scoreBoard .rank .inner h4{
    padding-bottom: 5px;
    color: #ffff00;
    font-size: 16px;
}
#scoreBoard .rank .inner h5{
    color: #ffffff;
    font-size: 36px;
}
#scoreBoard .share {
    background: url(about:blank) 0 0 no-repeat;
    background-size: 100%;
    display: block;
    height: 44px;
    line-height: 20em;
    margin: 0 auto;
    overflow: hidden;
    width: 196px;
}

#scoreBoard .score-1 {
    background: url(../images/meizhuidao.png) center top no-repeat;
    background-size: 100% 100%
}

#scoreBoard .score-2 {
    background: url(../images/meizhuidao.png) center top no-repeat;
    background-size: 100% 100%
}

#scoreBoard .score-0 {
    background: url(../images/huojiang.jpg) center 80% no-repeat;
    background-size: 100% 50%;
}

#scoreBoard .score-4 {
    background: url(../images/huojiang_2.jpg) center 80% no-repeat;
    background-size: 100% 50%;
}

#scoreBoard .score-5 {
    background: url(../images/huojiang_3.jpg) center 80% no-repeat;
    background-size: 100% 50%;
}

#scoreBoard .score-6 {
    background: url(../images/huojiang_4.jpg) center 80% no-repeat;
    background-size: 100% 50%;
}

#scoreBoard .score-7 {
    background: url(../images/huojiang_5.jpg) center 80% no-repeat;
    background-size: 100% 50%;
}

#scoreBoard .result {
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 20px auto
}

#prize .prize-default {
    background: url(../images/zhongjiangneirong.png) center bottom no-repeat;
    background-size: 320px 130px;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}

#scoreBoard .tips span {
    margin: 0 5px
}

#scoreBoard .rank h4, #scoreBoard .rank ul {
    margin: 0 auto;
    padding: 0;
    text-align: center
}

#scoreBoard .rank ul {
    list-style-type: none;
    width: 60px
}

#scoreBoard .rank ul li {
    background: url(../images/mingci.png) 0 1px no-repeat;
    background-size: 15px;
    font-weight: 700;
    height: 21px;
    line-height: 21px;
    padding-left: 20px;
    text-align: left
}

#scoreBoard .score-1 .share {
    background-image: url(../images/jiyouqiurenpin.png)
}

#scoreBoard .score-2 .share {
    background-image: url(../images/xuanyao.png)
}
#scoreBoard .score-2 .showmemoney{
    background: url(../images/lijiduihuan.png) no-repeat center center;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-size: 100% auto;
    height: 50px;
    margin: 0 auto;
    -webkit-animation: twinkling 1s infinite ease-in-out;
    animation: twinkling 1s infinite ease-in-out; 
}
#scoreBoard  .lottery {
    background: url(../images/dakailihe.png) 0 0 no-repeat;
    background-size: 100%;
    bottom: 7%;
    height: 44px;
    left: 50%;
    line-height: 20em;
    margin-left: -98px;
    overflow: hidden;
    position: absolute;
    width: 196px
}

#prize .prize-default .random-prize {
    display: block;
    height: 191px;
    margin: 45% auto 0;
    width: 200px;
}

#prize .prize-default .share {
    background: url(../images/xuanyao2.png) 0 0 no-repeat;
    background-size: 100%;
    display: block;
    height: 69px;
    line-height: 20em;
    margin: 20px auto 0;
    overflow: hidden;
    width: 227px;
    z-index: 10
}

#prize .prize-default .lingqu {
    display: block;
    height: 48px;
    line-height: 20em;
    margin: 20px auto 0;
    overflow: hidden;
    width: 158px;
    z-index: 10
}

#prize .prize-default .fenxiang {
    display: block;
    height: 48px;
    line-height: 20em;
    margin: 20px auto 0;
    overflow: hidden;
    width: 158px;
    z-index: 10
}

#scoreBoard .rank ul li.silver {
    background-position: 0 -20px
}

#scoreBoard .rank ul li.bronze {
    background-position: 0 -40px
}

@media screen and (max-height: 480px) {
    #prize .prize-default .random-prize {
        height: 144px;
        margin-top: 46%;
        width: 150px
    }

    #prize .prize-default .share {
        margin-top: 10px
    }
}

#prizeResult.panel {
    background: #AAA;
    overflow: hidden
}

#prizeResult .scroll-rst {
    background: #ffa700 url(../images/gongxi.png) center 40px no-repeat;
    background-size: 261px 119px;
    width: 100%
}

#prizeResult .prize-content {
    background: url(../images/zhongjiangneirong.png) 0 bottom no-repeat;
    background-size: 320px 130px;
    height: 460px;
    padding-top: 160px
}

#prizeResult .intro {
    background: #FFF;
    padding: 1px 35px 40px
}

#prizeResult .prize-content p {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center
}

#prizeResult .prize-content img {
    display: block;
    height: 116px;
    margin: 10px auto;
    width: 163px
}

#prizeResult .intro h2 {
    color: #ff6900;
    font-size: 20px;
    margin: 18px 0;
    text-align: center
}

#prizeResult .intro p, #prizeResult .intro ol, #prizeResult .intro li {
    color: #000;
    font-size: 14px;
    line-height: 25px;
    list-style-position: inside;
    margin: 0;
    padding: 0
}

#prizeResult .prize-content p span {
    font-weight: 400
}

#prizeResult .prize-content .yards {
    color: #FFF;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    text-align: center
}



#prizeResult .intro .map {
    display: block;
    height: 216px;
    margin: 0 auto;
    width: 256px
}

#prizeResult .intro .share {
    background: url(../images/xuanyao2.png) 0 0 no-repeat;
    background-size: 100%;
    display: block;
    height: 69px;
    line-height: 20em;
    margin: 20px auto 0;
    overflow: hidden;
    width: 227px
}

#prizeResult .prize-content .yards span {
    background-color: #FFF;
    border-radius: 12px;
    color: #000;
    margin: 0 5px;
    padding: 0 10px
}

#prizeResult .prize-content .yards strong {
    color: red;
    font-weight: 400
}

.display,.display_1,.display_2,.display_3,.display_4,.display_5,.display_6 {
    display: none;
}


/*-----------------------------音乐-------------------------------------*/
#music {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 8px;
    top: 8px;
    z-index: 60000000000000
}

.music {
    width: 100%;
    height: 100%;
    background: url(../images/music.png) no-repeat center center;
    background-size: 100%
}

#music > span {
    color: #fff;
    position: absolute;
    left: -56px;
    top: 0;
    line-height: 1.5em;
    font-size: 0.875em;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear
}

#music > span.zshow {
    left: -36px;
    opacity: 1
}

/*--旋转--*/
.play {
    animation: rotates 2s linear infinite;
    -webkit-animation: rotates 2s linear infinite
}

@keyframes rotates {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes rotates {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

/*--闪烁--*/
.play {
    -webkit-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.4;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.4;
    }
}


.move{
    animation-name: move;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-name: move;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}   
@keyframes move{
    0%{
        transform: translateY(0);
    }           
    100%{
        transform: translateY(-1000px);
        opacity:0;
    }
}   
@-webkit-keyframes move{
    0%{
        -webkit-transform: translateY(0);
    }           
    100%{
        -webkit-transform: translateY(-1000px);
        opacity:0;
    }
}      
.l-move{                    
    animation-name: l-move;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-name: l-move;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}   
@keyframes l-move{
     0%{
        transform: translateY(1000px);
    }           
    100%{
        transform: translateY(0);
        opacity:1;
    }
}   
@-webkit-keyframes l-move{
    0%{
        -webkit-transform: translateY(1000px);
    }           
    100%{
        -webkit-transform: translateY(0);
        opacity:1;
    }
}
.duihuan-wrapper{
    color: #fccf55;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url(../images/duihuan.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.duihuan{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;
}
.duihuan h1{
    padding-top: 65px;
    text-shadow: 2px 1px #000;
}
.duihuan figure{
    padding: 15px 0;
}
.duihuan figure img {
    max-width: 160px;
}
.duihuan figure p{
    font-size: 18px;
}
.duihuan time{
    display: block;
    padding: 15px 0;
    font-size: 20px;
}
.list-wrapper{
    color: #fccf55;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url(../images/list.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.lists{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.list-inner-wrapper {
    padding: 50px 20px;
    height: 100%;
}
.list-inner{
    background: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 60px 25px 25px;
    color: #000;
    height: 100%;
    overflow: hidden;
}
.list-inner ul{
    height: 100%;
    overflow: auto;
}
.list-inner li{
    position: relative;
    display: block;
    padding: 0;
}
.list-inner li img {
    width: 100%;
    height: auto;
}
.list-inner .mymoney{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -5px;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.list-inner .mymoney em{
    font-style: normal;
    font-size: 32px;
}
.list-inner .mymoney .money {
    padding: 0;
}
.list-inner li a{
    color: #000;
    text-decoration: none;
}
.listlogo{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}

#rocket-to-top div {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 149px;
}
#rocket-to-top .level-2 {
    background: url("../images/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display: none;
    height: 250px;
    opacity: 0;
    z-index: 1;
}
#rocket-to-top .level-3 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 150px;
    z-index: 2;
}
#rocket-to-top {
    background: url("../images/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: block;
    height: 250px;
    margin: -125px 0 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    left: 50%;
    margin-left: -4.5rem;
    bottom: -35px;
    width: 149px;
    z-index: 11;
}

@keyframes twinkling{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@-webkit-keyframes twinkling{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}