body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, legend, label, button, input, textarea, th, td { margin: 0; padding: 0; -webkit-tap-highlight-color: transparent; }
html { background: #f5f5f5; width: 100%; height: 100%; }
body, button, input, select, textarea {  color: #333; font: 14px/1.5 Helvetica, 'Microsoft Yahei','微软雅黑', Arial, Tahoma, "\5b8b\4f53", sans-serif; }
address, cite, dfn, em, var, i, b { font-style: normal; } 
ul, ol, li, dl, dd, dt{ list-style: none; } 
a { text-decoration: none; -webkit-tap-highlight-color: transparent; color: #333; }
a:hover { text-decoration: none; }
legend { color: #000; }
fieldset { border: none; }
label, button { cursor: pointer; }
h1, h2, h3, h4, h5, h6, button, input, select, textarea { font-size: 100%; font-weight: normal; }
img { border: none; display: block; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; border-spacing: 0; }
.clearfix:after { content: ''; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }
.clear { clear: both; }
.wordwrap { word-break: break-all; word-wrap: break-word; }
.txtbeyondno { overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
.abscenter { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); }
.habscenter { position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); }
.vabscenter { position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); }
.mcenter { margin: 0 auto; }
.rel { position: relative; }
.abs { position: absolute; }
.dbox { display: box; display: -webkit-box; display: -moz-box; display: -ms-box; }
.boxf1 { box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; }
.fl { float: left; }
.fr { float: right; }

/*@media screen and ( min-device-width: 1081px ) {
  body { max-width:640px; margin:0 auto; }
}*/
	
body { min-height: 100%; background: url(bg1.jpg) no-repeat fixed center; background-size: cover; }
.wrap { padding-bottom: 10px; overflow: hidden; zoom: 1; }

/* 出题第一步和答题第一步和出题第三步 开始 */
.logo { width: 50px; top: 20px; right: 20px; }
.logo img { width: 100%; }
.title { width: 88%; margin-top: 70px; }
.title img { width: 100%; }
.user { margin: 20px 0; }
.user .avatar_wrap { width: 100px; height: 100px; background: #fff; border-radius: 50%; overflow: hidden; }
.user .avatar { width: 92px; height: 92px; border-radius: 50%; }
.user .nick { text-align: center; color: #fff; font-size: 20px; margin-top: 20px; }
.gamedec { width: 88%; }
.gamedec .gamedec_exp { font-size: 16px; line-height: 24px; color: #fff; }
.gamedec .gamedec_btn { width: 100%; line-height: 44px; text-align: center; background-color: #ffe14c; border-radius: 5px; display: block; font-size: 20px; color: #241507; margin-top: 20px; }
.prompt { text-align: center; line-height: 40px; font-size: 30px; font-weight: 700; text-shadow: 0 4px 5px #6f655d; color: #fff; letter-spacing: 4px; margin-top: 40px; }
/* 出题第一步和答题第一步和出题第三步 结束 */

/* 出题第二步和答题第二步 开始 */
.progress_warp { width: 96%; margin-top: 24px; }
.progress_warp .progress_line_bg { width: 92%; height: 2px; background-color: #fff; }
.progress_warp .progress { width: 0; height: 2px; background-color: #32B16C; }
.progress_warp .progress_label { font-size: 0; }
.progress_warp .progress_label span { position: relative; display: block; box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; height: 16px; text-align: center; line-height: 16px; font-size: 12px; }
.progress_warp .progress_label span em { color: #32B16C; width: 20px; height: 20px; line-height: 20px; text-align: center; border-radius: 50%; background-color: #fff;; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); }
.progress_warp .progress_label span em.on { background-color: #32B16C; color: #fff; }
.question_wrap { width: 96%; padding: 10px 10px 0; background-color: #fff; border-radius: 5px; margin-top: 10px; box-sizing: border-box; -weblit-box-sizing: border-box; }
.question_wrap .question_pic { width: 100%; }
.question_wrap .question_pic img { width: 100%; }
.question_wrap .question { line-height: 24px; font-size: 16px; padding: 4px 0; }
.question_wrap .skip { padding: 0 8px; height: 26px; line-height: 26px; background-color: rgba(0,0,0,.8); border: 2px solid #fff; border-radius: 50%; font-size: 12px; color: #fff; bottom: 10px; right: 20px; cursor: pointer; }
.answer { width: 96%; margin-top: 10px; }
.answer li { width: 100%; padding: 8px 0 8px 10px; font-size: 16px; border-radius: 5px; margin-top: 10px; line-height: 24px; background-color: #fff; box-sizing: border-box; -webkit-box-sizing: border-box; cursor: pointer; }
.answer li:first-child { margin-top: 0; }
.answer li.on { background-color: #32B16C; color: #fff; }
.answer li.right { color: #fff; background: #32B16C url(right.png) no-repeat 96% center; background-size: auto 16px; }
.answer li.error { color: #fff; background: #fe0300 url(wrong.png) no-repeat 96% center; background-size: auto 16px; }
/* 出题第二步和答题第二步 结束 */

/* 出题第四步开始和答题第三步 开始 */
.small_title { width: 70%; }
.user_btn { padding: 0 10px; font-size: 0; margin-top: 10px; }
.user_btn a { width: 46%; line-height: 44px; border-radius: 5px; display: inline-block; font-size: 16px; color: #32B16C; text-align: center; }
.user_btn a:first-child { margin-right: 8%; }
.user_btn a.again_btn { background-color: #fff; }
.user_btn a.news { background-color: #32B16C; color: #fff; }
.user_btn a.news:after { content: "1"; display: inline-block; font-size: 12px; width: 18px; height: 18px; line-height: 18px; text-align: center; border-radius: 50%; background-color: #ff7078; color: #fff; position: absolute; top: 4px; left: 50%; margin-left: 40px; border: 1px solid #fff; }
.result_wrap { padding: 0 10px; margin-top: 10px; }
.check_wrap { background-color: #fff; padding: 0 15px; border-radius: 5px 5px 0 0; }
.check_wrap .check { display: block; border-bottom: 1px solid #ccc; padding: 10px 0; color: #32b16c; }
.check_wrap .check .check_icon { right: 9px; }
.check_wrap .check .check_icon i { position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); }
.check_wrap .check .check_icon i:first-child { overflow: hidden; zoom: 1; display: inline-block; width: 15px; height: 12px; }
.check_wrap .check .check_icon i:first-child:before { content: ""; display: inline-block; width: 3px; height: 12px; background-color: #32b16c; float: left; }
.check_wrap .check .check_icon i:first-child:after { content: ""; display: inline-block; border-left: 6px solid #32b16c; border-top: 6px solid transparent; border-bottom: 6px solid transparent; float: left; }
.check_wrap .check .check_icon i:last-child { content: ""; display: inline-block; border-left: 6px solid #fff; border-top: 6px solid transparent; border-bottom: 6px solid transparent;  }
.result { padding: 0 15px 15px; background-color: #fff; border-radius: 0 0 5px 5px; }
.result li { border-bottom: 1px solid #ccc; padding: 15px 0; }
.result .avatar { width: 40px; height: 40px; border-radius: 50%; margin-right: 15px; }
.result .result_info { /*height: 40px;*/ font-size: 12px; line-height: 20px; }
.result .result_info .result_evl .nick { color: #333; }
.result .result_info .result_evl { color: #666; }
.result .result_value { display: inline-block; width: 50px; height: 40px; line-height: 40px; text-align: center; color: #f24155; font-size: 20px; }
.result .full { background: url(heat.png) no-repeat center; background-size: cover; color: #fff; font-size: 16px; line-height: 36px; }
.coop_info { text-align: center; color: #fff; font-size: 12px; line-height: 24px; letter-spacing: 1px; color: #e5e5e5; }
.compare_wrap { color: #fff; text-align: center; }
.compare_wrap .compare_dec { font-size: 16px; padding: 0 10px; }
.compare_wrap .compare_score { width: 120px; height: 120px; line-height: 120px; border: 4px solid #fff; border-radius: 50%; text-align: center; font-size: 28px; font-weight: 100; background: url(heart_content.png) no-repeat center 10px; margin: 15px auto; background-size: cover; }
.compare_wrap .compare_eval { font-size: 20px; }
/* 出题第四步开始和答题第三步 结束 */

/* 正确答案 开始 */
.answer_items { padding: 0 10px; }
.answer_items, .answer_items ul { overflow: hidden; zoom: 1; }
.answer_item { width: 100%; background-color: #fff; padding: 8px 12px; box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 5px; margin-top: 10px; }
.answer_item .answer_title { font-size: 14px; }
.answer_item .answer_info { color: #32b16c; font-size: 12px; }
.answer_btn { margin-top: 32px; padding: 0 10px; }
.answer_btn a { display: block; height: 40px; line-height: 40px; background-color: #32B16C; text-align: center; color: #fff; font-size: 16px; border-radius: 5px; cursor: pointer; }
/* 正确答案 结束 */