<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>#btnHome.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,283},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>#btnMore.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,373},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>#btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{241,279}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{241,279}}</string>
                <key>sourceSize</key>
                <string>{245,283}</string>
            </dict>
            <key>#btnRetry.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,283},{150,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,174}}</string>
                <key>sourceSize</key>
                <string>{152,176}</string>
            </dict>
            <key>#helpBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{647,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,67}}</string>
                <key>sourceSize</key>
                <string>{647,69}</string>
            </dict>
            <key>#helpTxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{413,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,15},{413,39}}</string>
                <key>sourceSize</key>
                <string>{647,69}</string>
            </dict>
            <key>#item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,796},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>#item_0_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,488},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>#item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,792},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>#item_1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,644},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>#item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,640},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>#item_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,459},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>#item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,792},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>#item_3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,640},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>#item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>#item_4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>#overScorePanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{484,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{484,166}}</string>
                <key>sourceSize</key>
                <string>{486,168}</string>
            </dict>
            <key>#playScorePanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{580,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,106}}</string>
                <key>sourceSize</key>
                <string>{580,106}</string>
            </dict>
            <key>#txt_signature.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,457},{140,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{140,30}}</string>
                <key>sourceSize</key>
                <string>{160,42}</string>
            </dict>
            <key>#warningLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{640,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{640,16}}</string>
                <key>sourceSize</key>
                <string>{642,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pl_widgets.png</string>
            <key>size</key>
            <string>{610,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d31c754ee00473ce76273fa27ac4fdf$</string>
            <key>textureFileName</key>
            <string>pl_widgets.png</string>
        </dict>
    </dict>
</plist>
