<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_divide.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,308},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_divide_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_home_page.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,322},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_home_page_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,322},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,418},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_minus_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_multiply.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,444},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_multiply_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,444},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,430},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_plus_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,540},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,430},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_restart_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,430},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,438},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_share_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cap.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,46},{184,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,114}}</string>
                <key>sourceSize</key>
                <string>{184,114}</string>
            </dict>
            <key>divide.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,232},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>email.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>email_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,362},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,66},{294,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,42}}</string>
                <key>sourceSize</key>
                <string>{294,42}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{304,312}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,312}}</string>
                <key>sourceSize</key>
                <string>{304,320}</string>
            </dict>
            <key>message_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{444,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{444,274}}</string>
                <key>sourceSize</key>
                <string>{444,276}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,66},{68,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{68,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>multiply.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{62,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,784},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>music_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,662},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>music_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,894},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,162},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,20}}</string>
                <key>sourceSize</key>
                <string>{640,20}</string>
            </dict>
            <key>progress_bar_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{640,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,20}}</string>
                <key>sourceSize</key>
                <string>{640,20}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,162},{254,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,120}}</string>
                <key>sourceSize</key>
                <string>{256,122}</string>
            </dict>
            <key>start_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,308},{254,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,120}}</string>
                <key>sourceSize</key>
                <string>{256,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3daf0510bfe60b575f19501fe8b3df07:edf557830d90286443e4b73adc979f7e:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
