html, body {
    font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    min-width: 980px;
    padding: 0;
    margin: 0 auto;
}
.w950 {width: 960px;margin: 50px auto;border:1px solid #e0e0e0;padding: 25px;border-radius: 4px;}
::-webkit-scrollbar{width:6px; overflow:hidden;}
::-webkit-scrollbar-button{ display:none;}
::-webkit-scrollbar-thumb{ background-color:#99a;}  
::-webkit-scrollbar-thumb:hover{ background-color:#4792FF;}
a{ text-decoration:none; color:#515177; outline:none;}
a:hover{ text-decoration:underline;}
ul,li{ margin:0px; padding:0px; list-style:none;}
dl,dt,dd{ margin:0px; padding:0px;}
dt{ font-size:150%; font-weight:bold;}
textarea{ border:1px solid #bbd; color:#777; box-shadow:0 0 5px #dde inset; resize:vertical; background-color:#F9F9F9; line-height:130%; font-size:12px; overflow-y:auto; overflow-x:hidden;}
input.text{ font-size:100%; color:#777; box-shadow:0 0 2px #eee inset; border:1px solid #bbc; background-color:#F9F9F9; text-indent:3px; height:22px; line-height:22px; padding:0px;}
textarea:focus,
input.text:focus{ outline:none; border-color:#888; color:#223;}
table{ border-collapse:collapse;}
td{ padding:0px;}
#header{line-height:30px; background:#f6f6f6; margin-bottom:10px; border-bottom:1px solid #e6e6e9; padding:0 20px;}
#header a{ margin-right:2em; color:#515177}
#nav{ position:fixed; z-index:2; right:50px; top:60px; padding:10px;}
#navwrap a{ display:block; width:80px; height:60px; float:left; margin:0 2px 2px 0; color:#fff; padding:10px 10px 0 10px; text-decoration:none;}
#navwrap a:hover{ background:#F63 !important;}

#books{ width:300px; margin:10px 0;}
#books a{ float:left; display:inline-block; width:130px; color:#06c; font-size:13px;}
#books a img{ display:block; margin-bottom:5px; border:1px solid #112;}

.fl{ float:left !important;}
.fr{ float:right !important;}
.btn{ background-image:url(btn.png); text-decoration:none !important; height:28px; display:block; line-height:28px; *line-height:30px; overflow:hidden; cursor:pointer;color:#668; padding:0 8px; border:solid #ccc; border-width:1px 0px 1px 1px;}
.btn:hover{ background-position:0 -28px;}
.btn.blue{ background-position:0 -56px; padding:0 8px; border-color:#0044cc #0044cc #002a80; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  color:#fff;}
.btn.blue:hover{ background-position:0 -84px;}
.btn.blue:active{ background-position:0 -112px;}
.btn.dis,
.btn.blue.dis{ background:#eee; color:#bbb; border-color:#ddd; cursor:default;}
.btn.kok{ padding:0 5px;}
.btn.kok i{ display:block; width:7px; height:4px; background:url(kok.png) no-repeat; margin-top:12px;}
.btn.last{ border-right-width:1px;}
.clear{ clear:both; overflow:hidden; height:1px; font-size:1px;}
i.new{background:url(new.png) no-repeat; padding:3px 10px; position:relative; top:3px;}

.checkbox{ background:url(checkbox.png) 0 6px no-repeat; display:inline-block; line-height:30px; padding-left:22px; cursor:pointer;}
.checkbox.selected{ background-position:0 -34px;}

#footer{ background-color:#F1F1F5; border-top:1px solid #ccd9dd; margin-top:100px; text-align:center;}
#footer a{ line-height:60px;}
#footer a,
#footer span{ margin-right:12px;}

#qq-group-list{ margin-top:5px !important;}
#qq-group-list dt{ line-height:30px; font-size:14px; }
#qq-group-list dd{ line-height:24px; color:#99a; border-bottom:dotted 1px #ddf; width:200px;}
#qq-group-list dd span{ display:inline-block; min-width:75px; font-weight:bold; color:#717171;}

#guestbook{ margin:30px 0 10px 20px; width:640px;}
#guestbook textarea{ width:340px; height:60px;  box-shadow:none; vertical-align:top;}
.guestbook-box{ margin-bottom:8px;}

.guestbook-box input{ box-shadow:none; vertical-align:middle; margin:0px; width:200px;}
#guestbook-submit{ height:26px; line-height:26px;}
#guestbook-vcode{ width:50px; text-indent:5px; position:relative; top:-10px;}
#guestbook-vcode-img{ width:50px; height:20px; vertical-align:middle; cursor:pointer;position:relative; top:-10px;}
#guestbook-status{margin-left:36px;}
#guestbook-status.error{color:#F00}
#guestbook-status.success{color:green}
#guestbook-posts{ margin:10px auto;}
#guestbook-posts img{width:24px; height:24px;}
#guestbook-posts dt{ margin:10px 0; font-size:125%; border-bottom:dotted #ddd 1px; line-height:30px;}
#guestbook-posts dd{ margin:5px 0;}
#guestbook-posts dd .name{ margin-right:5px; color:#06c;}
#guestbook-posts dd .time{ color:#bbb;}
xeditor iframe{height:80px !important;}

#base64-container {
    width: 100%;
    margin-left: 0px;
}
#base64-textarea-container {
    *margin-bottom: 5px;
    margin-bottom: 5px\9;
}
#base64-textarea {
    width: 97%;
    height: 300px;
}
#base64-imgview {
    _display: none;
}
#base64-imgview img {
    max-height: 300px;
    max-width: 600px;
    border: 1px solid #000;
}
#base64-demo h2 {
    font-size: 110%;
    font-weight: normal;
    margin: 5px 0;
}
#base64-demo .code {
    line-height: 22px;
    text-indent: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 90%;
}
#base64-alert {
    color: green;
    margin: 10px 0;
}
#base64-gotowiki {
    margin-top: 20px;
    display: inline-block;
}