body {
    background-color: #598d4b;
}
#container {
    /*display: none;*/
    /*overflow:visible;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    background-color: #598d4b;
    position: relative;
    /*width:100%;*/
    /*height:100%;*/
    border: 0px solid red;
    margin:0px;
    padding:0px;
    min-height: 300px;
    /*background-image: url(../res/bg.jpg);*/
    /*background-position: left top;*/
    /*background-repeat: repeat-x;*/
    /*background-size: auto 100% ;*/
    /*background-size: 100%  auto;*/
}


#canvas {
    margin:0px;
    padding:0px;
}
