<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,399},{32,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,116}}</string>
                <key>sourceSize</key>
                <string>{32,116}</string>
            </dict>
            <key>basketball.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,394},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_know.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,562},{238,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,81}}</string>
                <key>sourceSize</key>
                <string>{238,81}</string>
            </dict>
            <key>btn_n_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,645},{120,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,91}}</string>
                <key>sourceSize</key>
                <string>{120,91}</string>
            </dict>
            <key>btn_n_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,741},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>btn_n_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,645},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>btn_n_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,893},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>btn_n_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,768},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{193,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,66}}</string>
                <key>sourceSize</key>
                <string>{193,66}</string>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{238,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,81}}</string>
                <key>sourceSize</key>
                <string>{238,81}</string>
            </dict>
            <key>btn_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,484},{226,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,76}}</string>
                <key>sourceSize</key>
                <string>{226,76}</string>
            </dict>
            <key>btn_s_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,837},{122,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,94}}</string>
                <key>sourceSize</key>
                <string>{122,94}</string>
            </dict>
            <key>btn_s_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,893},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>btn_s_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,768},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>btn_s_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>btn_s_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{193,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,66}}</string>
                <key>sourceSize</key>
                <string>{193,66}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,72},{325,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,123}}</string>
                <key>sourceSize</key>
                <string>{325,123}</string>
            </dict>
            <key>end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{272,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,153}}</string>
                <key>sourceSize</key>
                <string>{272,153}</string>
            </dict>
            <key>end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{363,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,194}}</string>
                <key>sourceSize</key>
                <string>{363,194}</string>
            </dict>
            <key>end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{363,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,194}}</string>
                <key>sourceSize</key>
                <string>{363,194}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{137,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,68}}</string>
                <key>sourceSize</key>
                <string>{137,68}</string>
            </dict>
            <key>nets.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,837},{105,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,91}}</string>
                <key>sourceSize</key>
                <string>{105,91}</string>
            </dict>
            <key>score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,72},{38,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,18}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,112},{37,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,18}}</string>
                <key>sourceSize</key>
                <string>{37,18}</string>
            </dict>
            <key>score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,433},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>score_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,433},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>score_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,433},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>score_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,399},{81,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,26}}</string>
                <key>sourceSize</key>
                <string>{81,26}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,632},{103,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,36}}</string>
                <key>sourceSize</key>
                <string>{103,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>basketball.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bc3acc6f68c29f61373943e68b45133$</string>
            <key>textureFileName</key>
            <string>basketball.png</string>
        </dict>
    </dict>
</plist>
