<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,167}}</string>
                <key>sourceSize</key>
                <string>{640,167}</string>
            </dict>
            <key>btn_addGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,563},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>btn_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>btn_know.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,740},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>btn_shoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,236},{129,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,94}}</string>
                <key>sourceSize</key>
                <string>{129,94}</string>
            </dict>
            <key>btn_shoot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{129,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{129,86}}</string>
                <key>sourceSize</key>
                <string>{129,94}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{306,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,94}}</string>
                <key>sourceSize</key>
                <string>{306,94}</string>
            </dict>
            <key>football.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,231},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>light1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,478},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>light1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,721},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>light2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,396},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>light2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,623},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>light3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,314},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>light3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,465},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>light4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,901},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>light4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,367},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>light5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,819},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>light5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,133},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>topGoldBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{640,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,69}}</string>
                <key>sourceSize</key>
                <string>{640,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allPicPlist.png</string>
            <key>size</key>
            <string>{422,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdca5d6d09d27f10b78368b99f0c7149$</string>
            <key>textureFileName</key>
            <string>allPicPlist.png</string>
        </dict>
    </dict>
</plist>
