<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QY1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,589},{77,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,202}}</string>
                <key>sourceSize</key>
                <string>{77,204}</string>
            </dict>
            <key>QY1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{77,198}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{77,198}}</string>
                <key>sourceSize</key>
                <string>{77,204}</string>
            </dict>
            <key>QY1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,510},{77,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,204}}</string>
                <key>sourceSize</key>
                <string>{77,204}</string>
            </dict>
            <key>QY2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,352},{77,211}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,211}}</string>
                <key>sourceSize</key>
                <string>{77,213}</string>
            </dict>
            <key>QY2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,431},{77,207}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{77,207}}</string>
                <key>sourceSize</key>
                <string>{77,213}</string>
            </dict>
            <key>QY2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{77,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,213}}</string>
                <key>sourceSize</key>
                <string>{77,213}</string>
            </dict>
            <key>QY3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{76,206}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,206}}</string>
                <key>sourceSize</key>
                <string>{76,210}</string>
            </dict>
            <key>QY3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{76,204}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{76,204}}</string>
                <key>sourceSize</key>
                <string>{76,210}</string>
            </dict>
            <key>QY3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{76,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,210}}</string>
                <key>sourceSize</key>
                <string>{76,210}</string>
            </dict>
            <key>keeperAct_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,594},{137,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,177}}</string>
                <key>sourceSize</key>
                <string>{137,177}</string>
            </dict>
            <key>keeperAct_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,228},{111,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,172}}</string>
                <key>sourceSize</key>
                <string>{111,172}</string>
            </dict>
            <key>keeperAct_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,753},{98,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,174}}</string>
                <key>sourceSize</key>
                <string>{98,174}</string>
            </dict>
            <key>keeperAct_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,795},{118,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,179}}</string>
                <key>sourceSize</key>
                <string>{118,179}</string>
            </dict>
            <key>keeperAct_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,773},{159,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,166}}</string>
                <key>sourceSize</key>
                <string>{159,166}</string>
            </dict>
            <key>keeperAct_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,402},{190,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,133}}</string>
                <key>sourceSize</key>
                <string>{190,133}</string>
            </dict>
            <key>keeperAct_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{182,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,96}}</string>
                <key>sourceSize</key>
                <string>{182,96}</string>
            </dict>
            <key>keeperAct_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{182,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,96}}</string>
                <key>sourceSize</key>
                <string>{182,96}</string>
            </dict>
            <key>keeperAct_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{182,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,96}}</string>
                <key>sourceSize</key>
                <string>{182,96}</string>
            </dict>
            <key>keeper_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{83,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,186}}</string>
                <key>sourceSize</key>
                <string>{83,188}</string>
            </dict>
            <key>keeper_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,795},{83,182}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{83,182}}</string>
                <key>sourceSize</key>
                <string>{83,188}</string>
            </dict>
            <key>keeper_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,668},{83,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,188}}</string>
                <key>sourceSize</key>
                <string>{83,188}</string>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{94,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,218}}</string>
                <key>sourceSize</key>
                <string>{94,220}</string>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,256},{94,214}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{94,214}}</string>
                <key>sourceSize</key>
                <string>{94,220}</string>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{94,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,220}}</string>
                <key>sourceSize</key>
                <string>{94,220}</string>
            </dict>
            <key>shoot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,120},{134,222}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{134,222}}</string>
                <key>sourceSize</key>
                <string>{140,224}</string>
            </dict>
            <key>shoot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{112,224}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,224}}</string>
                <key>sourceSize</key>
                <string>{140,224}</string>
            </dict>
            <key>shoot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{116,224}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,224}}</string>
                <key>sourceSize</key>
                <string>{140,224}</string>
            </dict>
            <key>shoot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,224}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,224}}</string>
                <key>sourceSize</key>
                <string>{140,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playerPlist.png</string>
            <key>size</key>
            <string>{568,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5096783e7b271553c1b074173291a9d5$</string>
            <key>textureFileName</key>
            <string>playerPlist.png</string>
        </dict>
    </dict>
</plist>
