<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,142}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>TutorialBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{564,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,407}}</string>
                <key>sourceSize</key>
                <string>{564,407}</string>
            </dict>
            <key>TutorialClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>buttonMore.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,411},{220,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,228}}</string>
                <key>sourceSize</key>
                <string>{220,228}</string>
            </dict>
            <key>buttonTest.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1007},{220,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,228}}</string>
                <key>sourceSize</key>
                <string>{220,228}</string>
            </dict>
            <key>buttonRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1007},{144,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,27}}</string>
                <key>sourceSize</key>
                <string>{144,27}</string>
            </dict>
            <key>buttonOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,411},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>buttonPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,411},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>buttonPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,411},{218,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,226}}</string>
                <key>sourceSize</key>
                <string>{218,226}</string>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{640,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,364}}</string>
                <key>sourceSize</key>
                <string>{640,364}</string>
            </dict>
            <key>soundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,641},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{751,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220af996907418346049077cba88dce8:186857445a967aea9710f4689a3b4624:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
