.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s
}
 @-webkit-keyframes fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(20px);
 transform: translateY(20px)
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0)
}
}
 @keyframes fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(20px);
 -ms-transform: translateY(20px);
 transform: translateY(20px)
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0)
}
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}
 @-webkit-keyframes slideInRight {
 0% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
 transform: translateX(2000px)
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0)
}
}
 @keyframes slideInRight {
 0% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
 -ms-transform: translateX(2000px);
 transform: translateX(2000px);
}
 100% {
 -webkit-transform: translateX(0);
 -ms-transform: translateX(0);
 transform: translateX(0)
}
}
.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight
}
.animated {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.tada1 {
	-webkit-animation-name: tada1;
	animation-name: tada1;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	animation-duration: 2s
}
 @-webkit-keyframes tada1 {
 0% {
 -webkit-transform: scale(1);
 transform: scale(1);
 visibility: hidden
}
 1% {
 visibility: visible
}
 10%, 5% {
 -webkit-transform: scale(0.9) rotate(-3deg);
 transform: scale(0.9) rotate(-3deg)
}
 15%, 25%, 35%, 45% {
 -webkit-transform: scale(1.1) rotate(3deg);
 transform: scale(1.1) rotate(3deg)
}
 20%, 30%, 40% {
 -webkit-transform: scale(1.1) rotate(-3deg);
 transform: scale(1.1) rotate(-3deg)
}
 50% {
 -webkit-transform: scale(1) rotate(0);
 transform: scale(1) rotate(0)
}
}
 @keyframes tada1 {
 0% {
 -webkit-transform: scale(1);
 transform: scale(1);
 visibility: hidden
}
 1% {
 visibility: visible
}
 10%, 5% {
 -webkit-transform: scale(0.9) rotate(-3deg);
 transform: scale(0.9) rotate(-3deg)
}
 15%, 25%, 35%, 45% {
 -webkit-transform: scale(1.1) rotate(3deg);
 transform: scale(1.1) rotate(3deg)
}
 20%, 30%, 40% {
 -webkit-transform: scale(1.1) rotate(-3deg);
 transform: scale(1.1) rotate(-3deg)
}
 50% {
 -webkit-transform: scale(1) rotate(0);
 transform: scale(1) rotate(0)
}
}
.loading1 {
	-webkit-animation-name: loading;
	animation-name: loading;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 12s;
	animation-duration: 12s
}
 @-webkit-keyframes loading {
 0% {
 -webkit-transform:scale(1.1);
 transform: scale(1.1);
}
 100% {
 -webkit-transform:scale(3.1);
 transform:scale(3.1);
}
}
 @keyframes loading {
 0% {
 -webkit-transform:scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
}
 100% {
 -webkit-transform: scale(3.1);
 -ms-transform: scale(3.1);
 transform: scale(3.1);
}
}
.rotate1 {
	-webkit-animation-name: rotateL;
	animation-name: rotateL;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 12s;
	animation-duration: 12s;
	animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-o-animation-timing-function: linear;
}
 @-webkit-keyframes rotateL {
 0% {
 -webkit-transform:rotate(0deg);
 transform:rotate(0deg);
}
 100% {
 -webkit-transform:rotate(360deg);
 transform:rotate(360deg);
}
}
 @keyframes rotateL {
 0% {
 -webkit-transform:rotate(0deg);
 -ms-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
.rotate2 {
	-webkit-animation-name: rotateR;
	animation-name: rotateR;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 12s;
	animation-duration: 12s;
	animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-o-animation-timing-function: linear;
}
 @-webkit-keyframes rotateR {
 0% {
 -webkit-transform:rotate(0deg);
 transform:rotate(0deg);
}
 100% {
 -webkit-transform:rotate(-360deg);
 transform:rotate(-360deg);
}
}
 @keyframes rotateR {
 0% {
 -webkit-transform:rotate(0deg);
 -ms-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(-360deg);
 -ms-transform: rotate(-360deg);
 transform: rotate(-360deg);
}
}
.f-ad0 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s
}
.f-ad1 {
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}
.f-ad2 {
	-webkit-animation-delay: .4s;
	animation-delay: .4s
}
.f-ad3 {
	-webkit-animation-delay: .6s;
	animation-delay: .6s
}
.f-ad4 {
	-webkit-animation-delay: .8s;
	animation-delay: .8s
}
.f-ad5 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}
.f-ad6 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s
}
.f-ad7 {
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s
}
.f-ad8 {
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s
}
.f-ad9 {
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s
}
.f-ad10 {
	-webkit-animation-delay: 2s;
	animation-delay: 2s
}
.f-ad11 {
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s
}
.f-ad12 {
	-webkit-animation-delay: 2.4s;
	animation-delay: 2.4s
}
.f-ad13 {
	-webkit-animation-delay: 2.6s;
	animation-delay: 2.6s
}
.f-ad14 {
	-webkit-animation-delay: 2.8s;
	animation-delay: 2.8s
}
.f-ad15 {
	-webkit-animation-delay: 3s;
	animation-delay: 3s
}
.f-ad16 {
	-webkit-animation-delay: 3.2s;
	animation-delay: 3.2s
}
.f-ann {
	-webkit-animation-name: none!important;
	animation-name: none!important;
	display: none!important
}
.f-anii {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.playbtn {
	-webkit-animation: btnPlay 1s linear infinite;
	opacity: 1;
	-moz-animation: btnPlay 1s linear infinite;
	opacity: 1;
	animation: btnPlay 1s linear infinite;
	opacity: 1
}
 @-webkit-keyframes btnPlay {
 0% {
 -webkit-transform:scale(1);
 opacity:0.8
}
 100% {
 -webkit-transform:scale(2);
 opacity:0.3
}
}
 @-moz-keyframes btnPlay {
 0% {
 -moz-transform:scale(1);
 opacity:0.8
}
 100% {
 -moz-transform:scale(2);
 opacity:0.3
}
}
 @keyframes btnPlay {
 0% {
 transform:scale(1);
 opacity:0.8
}
 100% {
 transform:scale(2);
 opacity:0.3
}
}
.QAbtn {
	-webkit-animation: QAbtn 1s linear infinite;
	opacity: 1;
	-moz-animation: QAbtn 1s linear infinite;
	opacity: 1;
	animation: QAbtn 1s linear infinite;
	opacity: 1
}
 @-webkit-keyframes QAbtn {
 0% {
 -webkit-transform:scale(1);
}
 100% {
 -webkit-transform:scale(1.1);
}
}
 @-moz-keyframes QAbtn {
 0% {
 -moz-transform:scale(1);
}
 100% {
 -moz-transform:scale(1.1);
 opacity:0.5
}
}
 @keyframes QAbtn {
 0% {
 transform:scale(1);
}
 100% {
 transform:scale(1.1);
}
}
.Playbtn {
	-webkit-animation: Playbtn 1s linear infinite;
	opacity: 1;
	-moz-animation: Playbtn 1s linear infinite;
	opacity: 1;
	animation: Playbtn 1s linear infinite;
	opacity: 1
}
 @-webkit-keyframes Playbtn {
 0% {
 -webkit-transform:scale(1);
}
 100% {
 -webkit-transform:scale(1.3);
}
}
 @-moz-keyframes Playbtn {
 0% {
 -moz-transform:scale(1);
}
 100% {
 -moz-transform:scale(1.3);
}
}
 @keyframes Playbtn {
 0% {
 transform:scale(1);
}
 100% {
 transform:scale(1.3);
}
}
.cicle-1 {
	-webkit-animation: scale1 3s linear 1;
	opacity: 1;
	-moz-animation: scale1 3s linear 1;
	opacity: 1;
	animation: scale1 3s linear 1;
	opacity: 1
}
 @-webkit-keyframes scale1 {
 0% {
 -webkit-transform:scale(1);
}
 100% {
 -webkit-transform:scale(3.5);
}
}
 @-moz-keyframes scale1 {
 0% {
 -moz-transform:scale(1);
}
 100% {
 -moz-transform:scale(3.5);
}
}
 @keyframes scale1 {
 0% {
 transform:scale(1);
}
 100% {
 transform:scale(3.5);
}
}
.cicle-2 {
	-webkit-animation: scale2 3s linear 1;
	opacity: 1;
	-moz-animation: scale2 3s linear 1;
	opacity: 1;
	animation: scale2 3s linear 1;
	opacity: 1
}
 @-webkit-keyframes scale2 {
 0% {
 -webkit-transform:scale(1);
}
 100% {
 -webkit-transform:scale(3.2);
}
}
 @-moz-keyframes scale2 {
 0% {
 -moz-transform:scale(1);
}
 100% {
 -moz-transform:scale(3.2);
}
}
 @keyframes scale2 {
 0% {
 transform:scale(1);
}
 100% {
 transform:scale(3.2);
}
}
.turn1 {
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-animation: turn1 0.6s linear 1;
	opacity: 1;
	-moz-animation: turn1 0.6s linear 1;
	opacity: 1;
	animation: turn1 0.6s linear 1;
	opacity: 1
}
 @-webkit-keyframes turn1 {
 0% {
 -webkit-transform:rotateX(0deg);
}
100% {
 -webkit-transform:rotateX(180deg);
}
}
 @-moz-keyframes turn1 {
 0% {
 -moz-transform:rotateX(0deg);
}
100% {
 -moz-transform:rotateX(180deg);
}
}
 @keyframes turn1 {
 0% {
 transform:rotateX(0deg);
}
100% {
 transform:rotateX(180deg);
}
}
