*{
	margin: 0px;
	padding: 0px;
}
body{
	overflow: hidden;
}
#gameEnd{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
#babyImg{
	width: 235px;
	height: 235px;
	position: absolute;
	top: 32%;
	left: 50%;
	margin-left: -117px;
	margin-top: -117px;
}
#main_end_title{
	width: 160px;
	height: 20px;
	position: absolute;
	top: 15.8%;
	left: 50%;
	margin-left: -80px;
	margin-top: -10px;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
}
#main_end_info{
	width: 250px;
	height: 250px;
	position: absolute;
	/*border: 1px solid red;*/
	top: 35%;
	left: 50%;
	margin-left: -125px;
	margin-top: -30px;
}
#text1{
	width: 100px;
	height: 40px;
	position: absolute;
	margin-left: -50px;
	margin-top: -20px;
	top: 35%;
	left: 30%;
}
#num1{
	width: 100px;
	height: 40px;
	position: absolute;
	margin-left: -50px;
	margin-top: -20px;
	top: 35%;
	left: 72%;
}
#text2{
	width: 100px;
	height: 40px;
	position: absolute;
	margin-left: -50px;
	margin-top: -20px;
	top: 51%;
	left: 30%;
}
#num2{
	width: 100px;
	height: 40px;
	position: absolute;
	margin-left: -50px;
	margin-top: -20px;
	top: 51%;
	left: 72%;
}
#text3{
	width: 100px;
	height: 40px;
	position: absolute;
	margin-left: -50px;
	margin-top: -20px;
	top: 68%;
	left: 30%;
}
#num3{
	width: 100px;
	height: 40px;
	position: absolute;
	margin-left: -50px;
	margin-top: -20px;
	top: 68%;
	left: 72%;
}
#text1,#num1,#text2,#num2,#text3,#num3{
	font-size: 20px;
	text-align: center;
	line-height: 40px;
}
#getFree{
	width: 225px;
	height: 80px;
	margin-left: -112.5px;
	margin-top: -40px;
	position: absolute;
	top: 76.5%;
	left: 50%;
}
#main_end_left{
	width: 114px;
	height: 42px;
	position: absolute;
	margin-left: -57px;
	margin-top: -21px;
	top: 93%;
	left: 30%;
}
#main_end_right{
	width: 114px;
	height: 42px;
	position: absolute;
	margin-left: -57px;
	margin-top: -21px;
	top: 93%;
	left: 70%;
}
/* 排行榜 */
#ip{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 101;
	top: 0;
	left: 0;
	display: none;
}

#ipName{
	width: 180px;
	height: 40px;
	border-radius: 10px;
	position: absolute;
	margin-left: -90px;
	margin-top: -20px;
	top: 40%;
	left: 50%;
}
#submitBtn{
	width: 183px;
	height: 59px;
	position: absolute;
	margin-left: -90px;
	margin-top: -30px;
	top: 68%;
	left: 50%;
}
#backBtn{
	width: 183px;
	height: 59px;
	position: absolute;
	margin-left: -90px;
	margin-top: -30px;
	top: 80%;
	left: 50%;
}
/* ......... */
#gamePhb{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
#main_phb{
	width: 250px;
	height: 300px;
	position: absolute;
	margin-left: -125px;
	margin-top: -150px;
	top: 57%;
	left: 50%;
	list-style: none;
	overflow: scroll;
	overflow: auto;
	overflow-x: hidden;
}
#main_phb_li{
	margin-top: 5px;
    /*border-bottom:1px blue dashed;*/
}
#info_1{
	margin-left: 10px;
	text-align: center;
	/*border: 1px solid red;*/
	width: 20px;
	height: 20px;
}
#info_2{
	text-align: center;
	/*border: 1px solid blue;*/
	width: 60px;
	height: 20px;
	position: absolute;
	left: 73px;
	overflow:hidden;
}
#info_3{
	text-align: center;
	/*border: 1px solid red;*/
	width: 50px;
	height: 20px;
	float: right;
	margin-right: 4px;
}
#phbclose{
	width: 50px;
	height: 50px;
	position: absolute;
	margin-left: -25px;
	margin-top: -25px;
	top: 15%;
	left: 91%;
}
/* 最后一步哦 */
#endStay{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
/* 领奖成功 */
#getSuccess{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}