<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{255,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,57}}</string>
                <key>sourceSize</key>
                <string>{255,57}</string>
            </dict>
            <key>btn_cow.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,450},{173,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,129}}</string>
                <key>sourceSize</key>
                <string>{173,129}</string>
            </dict>
            <key>btn_cowSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,218},{173,121}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{173,121}}</string>
                <key>sourceSize</key>
                <string>{173,129}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,447},{69,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,96}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,393},{204,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,66}}</string>
                <key>sourceSize</key>
                <string>{204,66}</string>
            </dict>
            <key>note.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{189,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,118}}</string>
                <key>sourceSize</key>
                <string>{189,118}</string>
            </dict>
            <key>note_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{581,573}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,573}}</string>
                <key>sourceSize</key>
                <string>{581,573}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,497},{53,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,102}}</string>
                <key>sourceSize</key>
                <string>{53,102}</string>
            </dict>
            <key>pointDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,393},{53,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,102}}</string>
                <key>sourceSize</key>
                <string>{53,102}</string>
            </dict>
            <key>pointLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,545},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>pointRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,577},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>scoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,122},{185,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,94}}</string>
                <key>sourceSize</key>
                <string>{185,94}</string>
            </dict>
            <key>time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,221},{104,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,227}}</string>
                <key>sourceSize</key>
                <string>{104,227}</string>
            </dict>
            <key>time2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,221},{109,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,224}}</string>
                <key>sourceSize</key>
                <string>{109,224}</string>
            </dict>
            <key>time3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,221},{75,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,224}}</string>
                <key>sourceSize</key>
                <string>{75,224}</string>
            </dict>
            <key>time4.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{216,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,217}}</string>
                <key>sourceSize</key>
                <string>{216,217}</string>
            </dict>
            <key>timeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,447},{179,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,90}}</string>
                <key>sourceSize</key>
                <string>{179,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allPicPlist.png</string>
            <key>size</key>
            <string>{1002,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39fa81e556fad29d320f3409b3ba5067$</string>
            <key>textureFileName</key>
            <string>allPicPlist.png</string>
        </dict>
    </dict>
</plist>
