.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-fles-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z\'%20fill%3D\'%23007aff\'%2F%3E%3C%2Fsvg%3E);
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z\'%20fill%3D\'%23000000\'%2F%3E%3C%2Fsvg%3E)
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z\'%20fill%3D\'%23ffffff\'%2F%3E%3C%2Fsvg%3E)
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z\'%20fill%3D\'%23007aff\'%2F%3E%3C%2Fsvg%3E);
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z\'%20fill%3D\'%23000000\'%2F%3E%3C%2Fsvg%3E)
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z\'%20fill%3D\'%23ffffff\'%2F%3E%3C%2Fsvg%3E)
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical>.swiper-pagination {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate(0, -50%);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal>.swiper-pagination {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-coverflow .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next+.swiper-slide {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px)
}

.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
    z-index: 0
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D\'0%200%20120%20120\'%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20xmlns%3Axlink%3D\'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink\'%3E%3Cdefs%3E%3Cline%20id%3D\'l\'%20x1%3D\'60\'%20x2%3D\'60\'%20y1%3D\'7\'%20y2%3D\'27\'%20stroke%3D\'%236c6c6c\'%20stroke-width%3D\'11\'%20stroke-linecap%3D\'round\'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(30%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(60%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(90%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(120%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(150%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.37\'%20transform%3D\'rotate\(180%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.46\'%20transform%3D\'rotate\(210%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.56\'%20transform%3D\'rotate\(240%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.66\'%20transform%3D\'rotate\(270%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.75\'%20transform%3D\'rotate\(300%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.85\'%20transform%3D\'rotate\(330%2060%2C60\)\'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D\'0%200%20120%20120\'%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20xmlns%3Axlink%3D\'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink\'%3E%3Cdefs%3E%3Cline%20id%3D\'l\'%20x1%3D\'60\'%20x2%3D\'60\'%20y1%3D\'7\'%20y2%3D\'27\'%20stroke%3D\'%23fff\'%20stroke-width%3D\'11\'%20stroke-linecap%3D\'round\'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(30%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(60%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(90%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(120%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate\(150%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.37\'%20transform%3D\'rotate\(180%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.46\'%20transform%3D\'rotate\(210%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.56\'%20transform%3D\'rotate\(240%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.66\'%20transform%3D\'rotate\(270%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.75\'%20transform%3D\'rotate\(300%2060%2C60\)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.85\'%20transform%3D\'rotate\(330%2060%2C60\)\'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg)
    }
}

content {
    width: 16rem;
    margin: 0 auto
}

.index-slide {
    line-height: 0
}

.index-slide .scroll {
    width: 16rem;
    position: relative;
    height: 5rem
}

.index-slide .scroll_box {
    overflow: hidden;
    visibility: hidden;
    position: relative
}

.index-slide .scroll_wrap {
    overflow: hidden;
    position: relative
}

.index-slide .scroll_wrap li {
    position: relative;
    display: block;
    width: 100%;
    float: left
}

.index-slide .scroll_wrap li a {
    display: block;
    margin: 0 auto;
    position: relative
}

.index-slide .scroll_position {
    position: absolute;
    left: 42%;
    z-index: 400;
    bottom: .15rem;
    height: .35rem
}

.index-slide .scroll_position li,
.scroll_position li {
    display: inline-block;
    width: .35rem;
    height: .35rem;
    border-radius: 50%;
    margin-right: .125rem;
    background: #d3d2d3
}

.index-slide .scroll_position li a {
    font-size: 0
}

.index-slide .scroll_position li.on,
.scroll_position li.on {
    background-color: #fc7c26!important
}

.index-slide .scroll_position_bg {
    position: absolute;
    bottom: .2rem;
    left: 40%;
    padding: 0 .375rem;
    z-index: 380;
    height: .65rem;
    border-radius: 50%
}

#banner {
    height: 5rem
}

section {
    width: 16rem
}

.index-tab {
    width: 16rem;
    height: 2.2rem;
    position: relative;
    background: #f2f2f2
}

.timeline {
    float: left;
    height: 2.2rem;
    background: #000 url(images/navbg1.png) no-repeat;
    background-size: 100% 100%;
    width: 16rem;
    overflow: hidden;
    max-width: 640px
}

.tomorrowtimeline {
    float: left;
    height: 2.2rem;
    background: #000 url(images/navbg2.png) no-repeat;
    background-size: 100% 100%;
    width: 16rem;
    overflow: hidden
}

.timesquare {
    width: 3.2rem;
    height: 2.2rem;
    float: left;
    text-align: center;
    overflow: hidden
}

.timesquare .time {
    font-size: .8rem;
    color: #fff;
    line-height: .9rem;
    padding-top: .1rem
}

.timesquare h2 {
    font-size: .6rem;
    color: #fff;
    line-height: 1rem;
    font-weight: normal
}

.timesquare .tomorrow {
    color: #36c687;
    font-size: .65rem;
    line-height: 1rem;
    font-weight: bold;
    height: 1rem
}

.wipemewrap {
    width: 3.2rem;
    margin: 0 auto
}

.wipemewrap .gray {
    color: #afafaf
}

.timeaxis {
    width: 12.8rem;
    height: 2.2rem;
    overflow: hidden;
    position: absolute;
    z-index: 300
}

.curBg {
    height: 2.2rem;
    width: 3.2rem;
    position: absolute;
    background-color: #eb3244;
    left: 6.4rem;
    z-index: 200
}

.today-style {
    z-index: 300;
    background-color: #000;
    right: 0;
    top: 0;
    position: absolute
}

.tomorrow-style {
    z-index: 400;
    background-color: #000;
    left: 0;
    top: 0;
    position: absolute
}

.tomorrow-style .tomorrow {
    color: #eb3244
}

.nowtab {
    background: #000 url(images/navbg1.png) no-repeat left top;
    background-size: 100% 100%
}

.tomorrowtab {
    background: #000 url(images/navbg2.png) no-repeat;
    background-size: 100% 100%
}

.item-wrap {
    width: 15.725rem;
    padding: .275rem 0 .275rem .34rem;
    padding-right: 0;
    background: #f2f2f2;
    min-height: 22rem
}

.item-wrap .item {
    width: 7.5rem;
    height: 11rem;
    border: 1px solid #e5e5e5;
    float: left;
    margin-right: .25rem;
    margin-bottom: .3rem;
    background: #fff;
    position: relative
}

.item-wrap .item .itemimg {
    width: 7.5rem;
    height: 7.5rem;
    display: block;
    margin: 0 auto
}

.item-wrap .item .itemimg img {
    width: 7.5rem;
    height: 7.5rem
}

.itemtitle {
    width: 7rem;
    margin: 0 auto;
    height: 1.6rem;
    overflow: hidden
}

.itemtitle i {
    font-size: .6rem;
    color: #333;
    line-height: .8rem;
    font-style: normal
}

.itemimg {
    display: block;
    width: 7.5rem;
    height: 7.5rem
}

.itemimg img {
    width: 100%;
    height: 100%
}

.curprice {
    width: 7rem;
    margin: 0 auto;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden
}

.curprice span {
    color: #666;
    font-size: .45rem
}

.curprice i {
    color: #ff0019;
    font-style: normal;
    font-size: .7rem
}

.prepricewrap {
    width: 7rem;
    margin: 0 auto;
    height: .8rem;
    line-height: .8rem;
    overflow: hidden
}

.prepricewrap .preprice {
    color: #666;
    font-size: .45rem;
    width: 5rem;
    float: left
}

.prepricewrap .collect {
    width: 1.4rem;
    float: left;
    text-align: left;
    color: #666;
    font-size: .45rem;
    background: url(images/collect.png) no-repeat left center;
    background-size: .53125rem .46875rem;
    padding-left: .53125rem;
    height: .8rem;
    line-height: .8rem
}

.prepricewrap .collect i {
    color: #666;
    display: block;
    width: 1.28rem;
    height: .8rem;
    line-height: .8rem;
    overflow: hidden;
    float: right;
    font-style: normal
}

.shadow {
    width: 7.5rem;
    height: 1.25rem;
    position: absolute;
    top: 0;
    left: 0
}

.shadow .bg {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
    position: absolute;
    left: 0;
    top: 0
}

.backtime {
    position: relative;
    z-index: 10;
    text-align: center;
    height: 1.25rem;
    line-height: 1.25rem;
    color: #fff;
    font-size: .7rem
}

.backtime i {
    background: url(images/icon01.png) no-repeat;
    background-size: .775rem 3.775rem;
    display: block;
    width: 1rem;
    height: .8rem;
    position: absolute;
    left: 1.2rem;
    top: .25rem
}

.backtime .hot {
    background-position: 0 0
}

.backtime .see {
    background-position: 0 -1.55rem
}

.backtime .over {
    background-position: 0 -3.025rem
}

.backtime em {
    font-size: .5rem;
    width: .5rem;
    display: block;
    position: absolute;
    left: 4.9rem;
    top: .1rem
}

.backtime .countDown {
    position: absolute;
    left: 2.1rem
}

.order-main {
    position: absolute;
    position: fixed;
    left: -.17rem;
    bottom: 2rem;
    z-index: 500
}

.order-scroll-image {
    position: absolute;
    background: url(../images/orderState.png?v=20150629) no-repeat;
    z-index: 100
}

.order-scroll-link-one,
.order-scroll-link-two,
.order-scroll-link-three {
    display: block;
    width: 2rem;
    height: 2rem
}

.changeImg .order-scroll-link-one,
.changeImg .order-scroll-link-two,
.changeImg .order-scroll-link-three {
    display: none
}

.order-scroll-link-one {
    position: absolute;
    left: 0;
    top: .5rem
}

.order-scroll-link-two {
    position: absolute;
    left: 1.9rem;
    top: 3rem
}

.order-scroll-link-three {
    position: absolute;
    left: .5rem;
    top: 5rem
}

.order-scroll {
    bottom: .2rem;
    height: 7.35rem;
    width: 3.75rem;
    background-position: right 0;
    background-size: 10rem 10rem;
    opacity: 1
}

.changeImg .order-scroll {
    background-position: left 0;
    left: .2rem
}

.order-scroll-circle,
.order-step-one,
.changeImg .order-scroll-hide {
    width: 1.5rem;
    height: 2.35rem;
    bottom: 2.675rem
}

.order-scroll-circle {
    position: absolute;
    left: .15rem;
    background: url(../images/orderState.png?v=20150629) no-repeat;
    background-size: 10rem 10rem;
    z-index: 450
}

.order-circle-big {
    width: 1.625rem;
    height: 2.85rem;
    bottom: 2.45rem;
    background-position: 0 -3.625rem
}

.order-scroll-arrow {
    width: .55rem;
    height: .95rem;
    position: absolute;
    left: 20%;
    top: 30%;
    background: url(../images/orderState.png?v=20150629) no-repeat;
    background-size: 10rem 10rem;
    cursor: pointer;
    background-position: -1.5rem 0;
    z-index: 500
}

.changeImg .order-scroll-arrow {
    background-position: -2.7rem 0
}

.changeImg .showNum,
.changeImg .appendNum {
    display: none
}

.showNum {
    display: block;
    color: #fff;
    font-size: .7rem;
    position: absolute;
    bottom: 4.1rem;
    left: 2.8rem;
    font-family: "Arial";
    font-weight: 900;
    position: relative;
    z-index: 550
}

.appendNum {
    color: red;
    font-size: .65rem;
    font-weight: 700;
    position: absolute;
    left: .04rem;
    top: .03rem
}

.loading {
    width: 3rem;
    height: 1.65rem;
    line-height: 1.65rem;
    border: 2px solid #949494;
    padding-left: 1.15rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #949494;
    font-size: .75rem;
    margin: 1rem auto;
    background: url(../images/loading.png) no-repeat .3rem center;
    background-size: .7rem .7rem;
    font-weight: 700
}

.failload {
    margin: 1.25rem auto;
    width: 6.25rem;
    height: 10rem
}

.fail-text {
    font-size: .65rem;
    color: #949494;
    width: 6.35rem;
    padding-top: 5.4rem;
    background: url(../images/fail-lion.png) no-repeat center top;
    background-size: 3.8rem 4.5rem;
    text-align: center
}

.fail-btn {
    display: block;
    text-align: center;
    width: 4.2rem;
    height: 1.65rem;
    line-height: 1.65rem;
    border: 2px solid #eda200;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #eda200;
    font-size: .75rem;
    margin: 1rem auto;
    font-weight: 700
}

.bgShadow {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: .7;
    filter: alpha(opacity=70);
    z-index: 400;
    background-color: #000
}

.order-step-one {
    position: absolute;
    z-index: 440
}

.order-step-one-border {
    position: absolute;
    left: .1rem;
    bottom: .02rem;
    background: url(../images/circle.png) no-repeat right center;
    background-size: 2.4rem 2.4rem;
    width: 1.45rem;
    height: 2.4rem;
    z-index: 500;
    overflow: hidden
}

.order-step-one-img {
    background: url(../images/step-one.png) no-repeat center center;
    background-size: cover;
    width: 16rem;
    height: 6.9rem;
    position: absolute;
    left: 1rem;
    top: -4.3rem
}

.order-step-nexttwo {
    position: absolute;
    left: 4.5rem;
    top: 3rem;
    width: 6.625rem;
    height: 3.25rem
}

.order-step-two {
    position: absolute;
    z-index: 450
}

.order-step-two .order-step-one-border {
    z-index: 500;
    width: 1.95rem;
    height: 1.95rem;
    border: 2px dashed #fff;
    left: 1.6rem;
    top: 0;
    background: 0
}

.order-step-two .order-step-one-img {
    background: url(../images/step-two.png) no-repeat center center;
    background-size: cover;
    width: 16rem;
    height: 6.9rem;
    left: .4rem;
    top: -5.3rem
}

.order-step-two .order-step-nexttwo {
    left: 5.5rem;
    top: 4rem
}

.order-step-three-img {
    background: url(../images/step-three.png) no-repeat center center;
    background-size: cover;
    width: 16rem;
    height: 12.25rem;
    left: 50%;
    top: 9rem;
    margin-left: -8rem;
    position: absolute
}

.order-three-scroll {
    top: 2.1rem
}

.zindex100 {
    z-index: 100
}

.zindex400 {
    z-index: 400
}

.zindex450 {
    z-index: 450
}

.zindex500 {
    z-index: 500
}

.zindex600 {
    z-index: 600
}

.zindex700 {
    z-index: 700
}

.numtips {
    width: 4.375rem;
    height: 2.05rem;
    background: url(images/tips.png) no-repeat;
    position: absolute;
    right: -7.35rem;
    top: -4.725rem;
    color: #fff;
    font-size: .5rem;
    font-family: "Microsoft Yahei";
    background-size: 100% 100%;
    z-index: 100;
    display: block
}

.numtips p {
    width: 3.4rem;
    margin: 0 auto;
    padding-top: .4rem;
    line-height: .7rem
}

.numtips p i {
    font-style: normal
}

.numtips .closeme {
    display: block;
    width: .625rem;
    height: .625rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000
}

.new_player {
    font-size: .6rem;
    color: #fff;
    display: block;
    padding: 0 .8rem;
    line-height: 1rem;
    font-family: 'Microsoft YaHei';
    font-weight: bold
}

.new_position {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff
}

.fix_new {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 20000;
    color: #eb3244;
    background: #000;
    width: 1.6rem;
    height: 2.2rem;
    display: none
}

.newplayerTip {
    width: 16rem;
    line-height: 1.075rem;
    padding-top: .275rem;
    height: 1.075rem;
    z-index: 1000;
    background: #f2f2f2;
    color: #eb3244
}

.newplayerTip p {
    text-align: center;
    font-size: .55rem
}

#flashId {
    height: 2.2rem;
    padding-bottom: 1.35rem
}

.allDay {
    background: #fff
}

.allDay-intro {
    height: 2.45rem;
    position: relative;
    width: 100%;
    background-size: 8.475rem 1.65rem
}

.allDay-intro-picture {
    background: url(images/allDay.png?v=2015112311) .6rem center no-repeat
}

.allDay-intro span {
    position: absolute;
    left: .85rem;
    top: 1.4rem;
    font-size: .55rem;
    color: #353d44
}

.allDay-intro h3 {
    font-weight: normal;
    font-size: .6rem;
    padding-right: 1rem;
    text-align: right;
    line-height: 2.45rem;
    padding-right: .55rem
}

.allDay-intro h3 a {
    background: url(images/arrow-right.png) right center no-repeat;
    padding-right: .4rem;
    color: #353d44;
    background-size: .2rem .375rem
}

.allDay-content {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    overflow: hidden
}

.allDay-list {
    height: 8.1rem;
    width: 16.25rem
}

.allDay-list li {
    width: 5.325rem
}

.allDay-list li+li {
    border-left: 1px solid #d5d5d5
}

.allDay-list dt {
    width: 5.325rem;
    height: 5.325rem
}

.allDay-list dd {
    padding: 0 .2rem
}

.allDay-list img {
    width: 100%
}

.allDay-list h4 {
    font-size: .6rem;
    line-height: .8rem;
    height: .8rem;
    overflow: hidden;
    font-weight: normal;
    color: #353d44;
    white-space: nowrap;
    text-overflow: ellipsis
}

.allDay-list p {
    font-size: .45rem;
    line-height: .75rem;
    height: .75rem;
    color: #909090;
    vertical-align: middle
}

.allDay-list i {
    font-style: normal;
    color: #ff0019
}

.actionTip {
    position: fixed;
    left: 50%;
    bottom: .65rem;
    -webkit-transform: translate(-50%);
    z-index: 100;
    background: url(../images/actionTip-bg.png?v=20151027) 0 0 no-repeat;
    background-size: 5.875rem 3rem;
    width: 5.875rem;
    height: 3rem;
    color: #fff;
    text-align: center
}

.actionTip h4 {
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.35rem;
    padding-bottom: .55rem
}

.actionTip p {
    -webkit-transform: translate(-.25rem);
    font-size: .6rem;
    line-height: 1.2rem
}

.actionTip-close {
    position: absolute;
    z-index: 2;
    right: -.8rem;
    top: -1rem;
    width: 1.5rem;
    height: 1.5rem
}

.actionTip-close-bg {
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: .9rem;
    height: .9rem;
    background: #eb3244 url(../images/actionTip-close.png) center center no-repeat;
    border-radius: 50%;
    background-size: .35rem .3rem
}

.actionShare {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 16rem;
    z-index: 5000;
    background-color: rgba(0, 0, 0, .7)
}

.actionShare-content {
    width: 16rem;
    height: 7.5rem;
    overflow: hidden;
    background-image: url(../images/action-share.png?v=2015110210);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 15rem 15rem
}

.actionShare-ios {
    background-position: center bottom
}

.addDesk {
    position: fixed;
    right: 0;
    bottom: 2rem;
    color: #fff;
    width: 1.075rem;
    text-align: center;
    height: 1.175rem;
    padding: .25rem .3rem;
    line-height: .6rem;
    background: rgba(0, 0, 0, .6);
    font-size: .3rem;
    border-radius: 50%;
    background-size: cover
}

.allDay-shop {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 7.5rem;
    height: 2.45rem;
    overflow: hidden
}

.allDay-shop img {
    width: 100%
}
