/* Make sure the game screen stretches to "full screen" of the browser. */
html, body, p {
	/* previously had <div>, but it affected EVERYTHING so i removed it */
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

#khanvas {
	width: 100%;
	height: 100%;
}