* {
    padding: 0;
    margin: 0
}

html,
body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%
}

.page {
    width: 640px;
    position: absolute;
    top: 0;
    left: 0;
    height: 1008px;
    left: 50%;
    margin-left: -320px;
    overflow: hidden
}

.ab {
    position: absolute
}

.re {
    position: relative
}

.fi {
    position: fixed
}

.width {
    width: 100%
}

.width0 {
    width: 0
}

.height {
    height: 100%
}

.height0 {
    height: 0
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%
}

.full {
    width: 100%;
    height: 100%
}

.left {
    left: 0
}

.right {
    right: 0
}

.top {
    top: 0
}

.bottom {
    bottom: 0
}

.t-c {
    text-align: center
}

.x-c,
.w-c {
    left: 50%;
    -webkit-transform: translateX(-50%)
}

.y-c,
.h-c {
    top: 50%;
    -webkit-transform: translateY(-50%)
}

.c-c {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%)
}

.hide {
    display: none
}

.hidden {
    visibility: hidden
}

.yin {
    opacity: 0
}

.page {}

#btn500 {
    width: 236px;
    height: 73px;
    bottom: 15px
}

#page3 {
    -webkit-animation: fs .3s linear 0s 1 normal forwards
}

@-webkit-keyframes fs {
    0% {
        -webkit-transform: scale(0.2);
        visibility: visible
    }
    85% {
        -webkit-transform: scale(1.1);
        visibility: visible
    }
    100% {
        -webkit-transform: scale(1);
        visibility: visible
    }
}
