html, body, h1, h2, h3, h4, h5, h6, div, p, ul, ol, li, a, span {
    margin: 0;
    padding: 0
}
h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: 700
}
ul, li {
    list-style: none
}
html, body {
    font: 400 12px/1.5 'Microsoft Yahei';
    background: #000
}
a {
    color: #fff;
    text-decoration: none;
    font-weight: 400
}
.clearFix:after {
    clear: both;
    content: '.';
    height: 0;
    display: block;
    visibility: hidden
}
input, a, :focus {
    outline: 0;
    resize: none
}
video {
    font-size: 100%;
    line-height: 0;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0
}
.hide {
    display: none
}
body {
    width: 100%;
    overflow: hidden
}
header {
    position: relative;
    height: 27px;
    line-height: 26px;
    background-color: #383838
}
header .logo {
    position: absolute;
    top: 0;
    left: 10px;
    width: 60px;
    height: 30px;
    background: url(../images/logo_70ba101.png) no-repeat;
    background-size: contain
}
header nav {
    margin-left: 80px
}
header nav ul {
    display: box;
    display: -webkit-box
}
header nav ul li {
    box-flex: 1;
    -webkit-box-flex: 1
}
header nav ul li a {
    color: #9f9f9f
}
.layout {
    font-size: .8125rem;
    color: #000;
    line-height: 1.7;
    background-color: #fff
}
.layout img {
    display: block;
    width: 100%
}
.layout article {
    padding: 0 15px;
    overflow: hidden
}
.layout article h1 {
    margin-top: 20px;
    font-size: 1rem;
    white-space: nowrap
}
.layout article .info {
    padding: 5px 0 12px;
    color: #4c4c4c
}
.layout article .info a {
    color: #000;
    margin-right: 10px
}
.layout article p {
    padding: 2px 0
}
.layout article .pic-video {
    position: relative;
    margin: 15px 0
}
.layout article .pic-video img {
    display: block;
    width: 100%
}
.layout article .pic-video video {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%
}
.layout article .source-text-link {
    padding: 20px 0
}
.layout article .source-text-link a {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #e6e6e6;
    text-align: center;
    color: #565656
}
.layout article .share {
    margin: 0 -15px;
    padding: 15px;
    border-top: 1px solid #e6e6e6;
    color: #8d8d8d
}
.layout article .share h2 {
    font-size: .8125rem
}
.layout article .share .links {
    padding: 10px 0 20px;
    text-align: center
}
.layout article .share .links a {
    display: inline-block;
    width: 10.9375%;
    margin: 0 10px
}
.layout article .share .links a img {
    display: block;
    width: 100%
}
:-webkit-full-screen video {
    width: 100%;
    height: 100%
}
.video-box-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 640px;
    height: 1008px;
    margin: -504px 0 0 -320px;
    -webkit-transform-origin: center center
}
.video-box-wrap .video-box {
    width: 100%;
    height: 100%;
    background-color: #000
}
.introduce {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #000
}
.introduce .text-01 {
    position: absolute;
    top: 10.31746032%;
    left: 12.578125%;
    width: 74.84375%;
    height: 12.3015873%;
    background: url(../images/text-01_9b5aae1.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 2s linear 1s;
    -webkit-animation-fill-mode: forwards
}
@-webkit-keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.introduce .cxb {
    position: absolute;
    top: 31.25%;
    left: 0;
    width: 100%;
    height: 19.94047619%;
    background: url(../images/cxb-01_9fab17f.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 2s linear 2s;
    -webkit-animation-fill-mode: forwards
}
.introduce .text-02 {
    position: absolute;
    top: 61.01190476%;
    left: 43.75%;
    width: 20.46875%;
    height: 2.48015873%;
    background: url(../images/text-02_7767bc1.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 1s linear 3s;
    -webkit-animation-fill-mode: forwards
}
.introduce .text-03 {
    position: absolute;
    top: 68.45238095%;
    left: 43.75%;
    width: 25.15625%;
    height: 2.48015873%;
    background: url(../images/text-03_c874179.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 1s linear 4s;
    -webkit-animation-fill-mode: forwards
}
.introduce .text-04 {
    position: absolute;
    top: 75.89285714%;
    left: 43.75%;
    width: 22.8125%;
    height: 2.48015873%;
    background: url(../images/text-04_de8c258.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 1s linear 5s;
    -webkit-animation-fill-mode: forwards
}
.introduce .text-05 {
    position: absolute;
    top: 83.33333333%;
    left: 43.75%;
    width: 29.375%;
    height: 2.48015873%;
    background: url(../images/text-05_1e083a3.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 1s linear 6s;
    -webkit-animation-fill-mode: forwards
}
.introduce .icon-01 {
    position: absolute;
    top: 59.32539683%;
    left: 29.0625%;
    width: 9.53125%;
    height: 5.8531746%;
    background: url(../images/icon-01_2f3df6e.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 1s linear 3s, switch-on1 .5s linear 4s;
    -webkit-animation-fill-mode: forwards
}
.introduce .icon-01.switch-on {
    background: url(../images/icon-01-1_f2432cd.png) center center no-repeat;
    background-size: contain
}
@-webkit-keyframes switch-on1 {
    0% {
        background-image: url(../images/icon-01_2f3df6e.png)
    }
    100% {
        background-image: url(../images/icon-01-1_f2432cd.png)
    }
}
@-webkit-keyframes switch-on2 {
    0% {
        background-image: url(../images/icon-02_1599e8c.png)
    }
    100% {
        background-image: url(../images/icon-02-1_66481ca.png)
    }
}
@-webkit-keyframes switch-on3 {
    0% {
        background-image: url(../images/icon-03_033a20d.png)
    }
    100% {
        background-image: url(../images/icon-03-1_37ddf6d.png)
    }
}
@-webkit-keyframes switch-on4 {
    0% {
        background-image: url(../images/icon-04_3c919e1.png)
    }
    100% {
        background-image: url(../images/icon-04-1_8154540.png)
    }
}
.introduce .icon-02 {
    position: absolute;
    top: 68.25396825%;
    left: 28.28125%;
    width: 10.9375%;
    height: 2.28174603%;
    background: url(../images/icon-02_1599e8c.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 1s linear 4s, switch-on2 .5s linear 5s;
    -webkit-animation-fill-mode: forwards
}
.introduce .icon-02.switch-on {
    background: url(../images/icon-02-1_66481ca.png) center center no-repeat;
    background-size: contain
}
.introduce .icon-03 {
    position: absolute;
    top: 73.61111111%;
    left: 30.625%;
    width: 6.71875%;
    height: 4.76190476%;
    background: url(../images/icon-03_033a20d.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 1s linear 5s, switch-on3 .5s linear 6s;
    -webkit-animation-fill-mode: forwards
}
.introduce .icon-03.switch-on {
    background: url(../images/icon-03-1_37ddf6d.png) center center no-repeat;
    background-size: contain
}
.introduce .icon-04 {
    position: absolute;
    top: 82.73809524%;
    left: 30.15625%;
    width: 7.96875%;
    height: 2.87698413%;
    background: url(../images/icon-04_3c919e1.png) center center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation: show 1s linear 6s, switch-on4 .5s linear 7s;
    -webkit-animation-fill-mode: forwards
}
.introduce .icon-04.switch-on {
    background: url(../images/icon-04-1_8154540.png) center center no-repeat;
    background-size: contain
}
.introduce .arrows {
    position: absolute;
    bottom: 3.96825397%;
    left: 46.640625%;
    width: 6.71875%;
    height: 2.08333333%;
    background: url(../images/arrow_d7d8332.png) center center no-repeat;
    background-size: contain;
    visibility: hidden;
    -webkit-animation: arrow 1.5s linear infinite, arrow1 .5s linear 7s;
    -webkit-animation-fill-mode: forwards
}
@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translateY(0) rotate(180deg);
        opacity: 0
    }
    20% {
        -webkit-transform: translateY(30px) rotate(180deg);
        opacity: 0
    }
    40% {
        -webkit-transform: translateY(20px) rotate(180deg);
        opacity: 1
    }
    60% {
        -webkit-transform: translateY(10px) rotate(180deg);
        opacity: 1
    }
    80% {
        -webkit-transform: translateY(5px) rotate(180deg);
        opacity: 1
    }
    100% {
        -webkit-transform: translateY(0) rotate(180deg);
        opacity: 0
    }
}
@-webkit-keyframes arrow1 {
    0% {
        visibility: hidden
    }
    100% {
        visibility: visible
    }
}
.buy {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(../images/buy-01_fa06d4a.png) no-repeat;
    background-size: 100% auto;
    -webkit-transform: translate3d(0, -100%, 0)
}
.buy .btn {
    position: absolute;
    bottom: 4.96031746%;
    left: 9.140625%;
    width: 81.71875%;
    height: 10.01984127%;
    background: url(../images/buy-btn_b54411a.png) center center no-repeat;
    background-size: contain
}
.buy .btn a {
    display: block;
    height: 100%
}
