<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basket_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,36}}</string>
                <key>sourceSize</key>
                <string>{106,36}</string>
            </dict>
            <key>basket_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>basket_ball_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>basket_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{480,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,133}}</string>
                <key>sourceSize</key>
                <string>{480,133}</string>
            </dict>
            <key>basket_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{480,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,495}}</string>
                <key>sourceSize</key>
                <string>{480,495}</string>
            </dict>
            <key>basket_bg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,137},{393,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,442}}</string>
                <key>sourceSize</key>
                <string>{393,442}</string>
            </dict>
            <key>basket_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,137},{104,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,16}}</string>
                <key>sourceSize</key>
                <string>{104,16}</string>
            </dict>
            <key>basket_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{104,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,18}}</string>
                <key>sourceSize</key>
                <string>{104,18}</string>
            </dict>
            <key>basket_blue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,634},{95,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,43}</string>
            </dict>
            <key>basket_blue_big01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,634},{136,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,18}}</string>
                <key>sourceSize</key>
                <string>{136,18}</string>
            </dict>
            <key>basket_blue_big02.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,634},{136,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,20}}</string>
                <key>sourceSize</key>
                <string>{136,20}</string>
            </dict>
            <key>basket_blue_big03.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,634},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>basket_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,634},{122,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,29}}</string>
                <key>sourceSize</key>
                <string>{122,29}</string>
            </dict>
            <key>basket_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,634},{105,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,17}}</string>
                <key>sourceSize</key>
                <string>{105,17}</string>
            </dict>
            <key>basket_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,634},{105,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,18}}</string>
                <key>sourceSize</key>
                <string>{105,18}</string>
            </dict>
            <key>basket_green03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>basket_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,684},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>basket_line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,684},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>basket_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,684},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>basket_red01.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,684},{104,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,16}}</string>
                <key>sourceSize</key>
                <string>{104,16}</string>
            </dict>
            <key>basket_red02.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,684},{104,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,18}}</string>
                <key>sourceSize</key>
                <string>{104,18}</string>
            </dict>
            <key>basket_red03.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,684},{95,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,43}</string>
            </dict>
            <key>basket_slow.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,684},{105,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,37}}</string>
                <key>sourceSize</key>
                <string>{105,37}</string>
            </dict>
            <key>basket_stars1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,684},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>basket_triple.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,684},{101,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,29}}</string>
                <key>sourceSize</key>
                <string>{101,29}</string>
            </dict>
            <key>basket_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,684},{63,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,40}</string>
            </dict>
            <key>basket_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{105,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,16}}</string>
                <key>sourceSize</key>
                <string>{105,16}</string>
            </dict>
            <key>basket_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,791},{105,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,19}}</string>
                <key>sourceSize</key>
                <string>{105,19}</string>
            </dict>
            <key>basket_yellow03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,791},{95,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,43}</string>
            </dict>
            <key>flow_eff_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,791},{74,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{74,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>flow_eff_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,791},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>basket.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ff2a4cf821f69225c8a9b9f200967a5:1/1$</string>
            <key>textureFileName</key>
            <string>basket.png</string>
        </dict>
    </dict>
</plist>
