<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ballhome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,159}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,159}}</string>
                <key>sourceSize</key>
                <string>{480,163}</string>
            </dict>
            <key>cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{332,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,25}}</string>
                <key>sourceSize</key>
                <string>{332,25}</string>
            </dict>
            <key>cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,336},{381,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,38}}</string>
                <key>sourceSize</key>
                <string>{381,38}</string>
            </dict>
            <key>deletebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>nextlevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{135,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,50}}</string>
                <key>sourceSize</key>
                <string>{135,50}</string>
            </dict>
            <key>overagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,336},{135,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,50}}</string>
                <key>sourceSize</key>
                <string>{135,50}</string>
            </dict>
            <key>overshare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{135,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,50}}</string>
                <key>sourceSize</key>
                <string>{135,50}</string>
            </dict>
            <key>selecton.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,473},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>strongbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,163},{412,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,50}}</string>
                <key>sourceSize</key>
                <string>{412,50}</string>
            </dict>
            <key>strongcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,215},{410,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,42}}</string>
                <key>sourceSize</key>
                <string>{410,42}</string>
            </dict>
            <key>timeimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,259},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllUi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1153f9613addc43eff9367bd9059ed89:1/1$</string>
            <key>textureFileName</key>
            <string>AllUi.png</string>
        </dict>
    </dict>
</plist>
