<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,877},{102,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,773},{102,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,768},{102,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,877},{102,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,871},{102,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,871},{102,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{102,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,673},{102,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,669},{102,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,664},{102,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,560},{102,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{102,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,333},{120,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,224},{120,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,107}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{120,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,107}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,333},{120,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,232},{120,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,107}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,224},{120,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,107}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,121},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,113},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,113},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{120,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,107}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,595},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,560},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,561},{110,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{110,116}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,440},{118,114}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{118,114}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,333},{118,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{118,116}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{136,114}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,556},{116,111}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{116,111}}</string>
                <key>sourceSize</key>
                <string>{122,117}</string>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{120,109}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{120,109}}</string>
                <key>sourceSize</key>
                <string>{122,117}</string>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{122,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,117}}</string>
                <key>sourceSize</key>
                <string>{122,117}</string>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,450},{118,109}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{118,109}}</string>
                <key>sourceSize</key>
                <string>{122,117}</string>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,451},{117,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{117,107}}</string>
                <key>sourceSize</key>
                <string>{119,109}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{119,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{119,105}}</string>
                <key>sourceSize</key>
                <string>{119,109}</string>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{117,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{117,107}}</string>
                <key>sourceSize</key>
                <string>{119,109}</string>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,341},{119,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,107}}</string>
                <key>sourceSize</key>
                <string>{119,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveaction.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce200cfd041e061cb300526e02b6affd:1/1$</string>
            <key>textureFileName</key>
            <string>moveaction.png</string>
        </dict>
    </dict>
</plist>
