<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,678},{122,181}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{122,181}}</string>
                <key>sourceSize</key>
                <string>{122,185}</string>
            </dict>
            <key>cry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,638},{122,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,185}}</string>
                <key>sourceSize</key>
                <string>{122,185}</string>
            </dict>
            <key>fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,568},{232,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,128}}</string>
                <key>sourceSize</key>
                <string>{232,128}</string>
            </dict>
            <key>fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,438},{232,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,128}}</string>
                <key>sourceSize</key>
                <string>{232,128}</string>
            </dict>
            <key>jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,312},{124,259}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{124,259}}</string>
                <key>sourceSize</key>
                <string>{130,311}</string>
            </dict>
            <key>jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,678},{130,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,311}}</string>
                <key>sourceSize</key>
                <string>{130,311}</string>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{261,308}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{261,308}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{251,328}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{251,328}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{243,332}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{243,332}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{243,336}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{243,336}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,340}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{249,340}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{241,340}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{241,340}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,344},{273,332}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{273,332}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,332},{193,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,304}}</string>
                <key>sourceSize</key>
                <string>{193,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3770c3be97c7bae8dbbcf11252668806$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
